<main class="flex h-full w-full justify-center overflow-hidden">
  <menu class="left-container">
    <app-siderbar-left></app-siderbar-left>
  </menu>
  <div class="main-container">
    <app-header-inventory-taking (isNewDocument)="isNewDocument($event)" class="h-[100px]"></app-header-inventory-taking>
    <div class="body-container">
      @switch (isStatusInventoryTaking()) {
        @case ('register') {
          <section class="sub-main-container">
            <article class="h-auto w-full">
              <app-register-inventory-taking
                [isNewDocument]="isNewDocumentValue"
                [isEditDocumentValue]="isEditDocumentValue"
                [isCalculateDocument]="isCalculateDocumentValue"
              ></app-register-inventory-taking>
            </article>
            <article class="h-auto w-full">
              <app-register-detail-inventory-taking
                [isNewDocument]="isNewDocumentValue"
                [isEditDocumentValue]="isEditDocumentValue"
                [isCalculateDocument]="isCalculateDocumentValue"
              ></app-register-detail-inventory-taking>
            </article>
            <article class="h-auto w-full px-4">
              <app-resume-inventory-taking
                [isEditDocumentValue]="isEditDocumentValue"
                (isNewDocument)="isNewDocument($event)"
                (isCalculateDocument)="isCalculateDocument($event)"
              ></app-resume-inventory-taking>
            </article>
          </section>
        }
        @case ('search') {
          <section class="sub-main-container">
            <article>
              <app-search-inventory-taking></app-search-inventory-taking>
            </article>
            <article class="w-full">
              <app-search-detail-inventory-taking (modifyDocument)="isModifyDocument($event)"></app-search-detail-inventory-taking>
            </article>
          </section>
        }
      }
    </div>
    <app-footer class="h-[60px]"></app-footer>
  </div>
  <menu class="right-container">
    <app-siderbar-right></app-siderbar-right>
  </menu>
</main>
