<section class="h-[50px] w-full bg-white dark:bg-gray-900">
  <nav class="grid h-full w-full grid-cols-2 border-gray-200">
    <article class="col-span-1 my-auto ml-4">
      <a href="#" class="flex items-center">
        <img
          src="../../../../../../assets/images/icon/logo.png"
          class="mr-3 h-8 w-8 rounded-full"
          alt="SmartShell ( Billing ) Logo"
        />
        <span
          class="self-center whitespace-nowrap text-xl font-semibold dark:text-white"
          >SmartShell</span
        >
      </a>
    </article>
    <article
      class="space-x-4 col-span-1 my-auto mr-4 flex w-full items-center justify-end"
    >
      <a
        [routerLink]="['/billing/dashboard']"
        class="header-siderbar"
        routerLinkActive="header-siderbar-active"
      >
        Tutorial
      </a>
      <a
        [routerLink]="['/configuration/credits']"
        class="header-siderbar"
        routerLinkActive="header-siderbar-active"
      >
        Contact
      </a>
    </article>
  </nav>
</section>
