<main class="dialog-container">
  <mat-tab-group
    [selectedIndex]="selectedTab.value"
    (selectedIndexChange)="selectedTab.setValue($event)"
  >
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="mat-tab-label-container">
          <fa-icon [icon]="faFileInvoice"></fa-icon>
          <span class="mat-tab-label-span">Historial</span>
        </div>
      </ng-template>
      <app-basic-all-exchange-rate (onClose)="onClose($event)" (onSave)="onCrud($event)"></app-basic-all-exchange-rate>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="mat-tab-label-container">
          <fa-icon [icon]="faFilePen"></fa-icon>
          <span class="mat-tab-label-span">Registrar</span>
        </div>
      </ng-template>
      <app-basic-info-exchange-rate (onClose)="onClose($event)" (onSave)="onCrud($event)"></app-basic-info-exchange-rate>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="mat-tab-label-container">
          <fa-icon [icon]="faCircleInfo"></fa-icon>
          <span class="mat-tab-label-span">Ayuda</span>
        </div>
      </ng-template>
      No Implementado!
    </mat-tab>
  </mat-tab-group>
</main>
