<form [formGroup]="formDetailDocument">
  <section class="container-default-table">
    <table class="main-default-table" cdk-table [dataSource]="dataDetail">
      <ng-container formArrayName="detailDocument">
        <tr
          class="header-table"
          cdk-header-row
          *cdkHeaderRowDef="displayedColumns"
        ></tr>
        <tr
          class="row-table"
          cdk-row
          *cdkRowDef="let row; columns: displayedColumns; let i = index"
        ></tr>
        <ng-container cdkColumnDef="numite">
          <th class="px-2 py-3" cdk-header-cell *cdkHeaderCellDef>Item</th>
          <td
            cdk-cell
            class="w-20 px-2 py-3"
            *cdkCellDef="let item; let i = index"
          >
            <span class="text-input-disabled">{{ dataDetailSource.getNumite(item.value.numite).numite }}</span>
          </td>
        </ng-container>
        <ng-container cdkColumnDef="typinv">
          <th class="px-2 py-3" cdk-header-cell *cdkHeaderCellDef>T Inv.</th>
          <td
            cdk-cell
            class="w-32 px-2 py-3"
            *cdkCellDef="let item; let i = index"
          >
          <span class="text-input-disabled">{{ dataDetailSource.getNumite(item.value.numite).desinv }}</span>
          </td>
        </ng-container>
        <ng-container cdkColumnDef="codart">
          <th class="px-2 py-3" cdk-header-cell *cdkHeaderCellDef>Article</th>
          <td
            class="w-auto px-2 py-3"
            cdk-cell
            *cdkCellDef="let item; let i = index"
            [formGroup]="item"
          >
            <div class="flex" *ngIf="item.value.numite === 0">
              <input
                type="text"
                placeholder="Code"
                class="input-search w-20"
                formControlName="codart"
                (keydown.enter)="openDialogGetArticle()"
              />
              <button
                type="button"
                class="button-icon-search"
                (click)="openDialogGetArticle()"
              >
                <fa-icon
                  [icon]="faMagnifyingGlass"
                  class="icon-operac"
                  size="sm"
                ></fa-icon>
              </button>
            </div>
            <ng-template [ngIf]="item.value.numite > 0">
              <span class="text-input-disabled">{{ dataDetailSource.getNumite(item.value.numite).codart + ' - ' +  dataDetailSource.getNumite(item.value.numite).desart }}</span>
            </ng-template>
          </td>
        </ng-container>
        <!-- <ng-container cdkColumnDef="etiqueta">
          <th class="px-2 py-3" cdk-header-cell *cdkHeaderCellDef>Etiqueta</th>
          <td
            class="w-auto px-2 py-3"
            cdk-cell
            *cdkCellDef="let item"
            [formGroup]="item"
          >
            <div class="flex">
              <input
                type="text"
                placeholder="Codigo"
                class="input-search w-40"
                formControlName="etiqueta"
              />
              <button
                type="button"
                class="button-icon-search"
                (click)="openDialogGetEtiqueta()"
              >
                <fa-icon
                  [icon]="faMagnifyingGlass"
                  class="icon-operac"
                  size="sm"
                ></fa-icon>
              </button>
            </div>
          </td>
        </ng-container> -->
        <ng-container cdkColumnDef="quantity">
          <th class="px-2 py-3" cdk-header-cell *cdkHeaderCellDef>Cantid</th>
          <td
            class="px-2 py-3"
            cdk-cell
            *cdkCellDef="let item"
            [formGroup]="item"
          >
            <input
              type="number"
              placeholder="Cantid"
              class="input-default"
              formControlName="quantity"
              (change)="preCalculate(item.value, item.get('price').value)"
              min="1"
            />
          </td>
        </ng-container>
        <ng-container cdkColumnDef="price">
          <th class="px-2 py-3" cdk-header-cell *cdkHeaderCellDef>
            Unit Price
          </th>
          <td
            class="px-2 py-3"
            cdk-cell
            *cdkCellDef="let item"
            [formGroup]="item"
          >
            <input
              type="number"
              readonly
              placeholder="Unit Price"
              class="input-default"
              formControlName="price"
              min=0.00
              [value]="item.value.price | number:'1.2-2'"
              [disabled]="item.get('price').disabled"
            />
          </td>
        </ng-container>
        <ng-container cdkColumnDef="subtotal">
          <th class="px-2 py-3" cdk-header-cell *cdkHeaderCellDef>Import</th>
          <td class="px-2 py-3" cdk-cell *cdkCellDef="let item; let i = index">
            <span class="text-input-disabled">{{ dataDetailSource.getNumite(item.value.numite).implistprice | number:'1.2-2' }}</span>
          </td>
        </ng-container>
        <ng-container cdkColumnDef="operac">
          <th class="px-2 py-3" cdk-header-cell *cdkHeaderCellDef>Ac?</th>
          <td
            class="w-20 flex justify-around px-2 py-3 items-center"
            cdk-cell
            *cdkCellDef="let item"
          >
            <app-button-operac
              optionBtn="delete"
              colorBtn="sky"
              (click)="deleteItem(item.value)"
            ></app-button-operac>
          </td>
        </ng-container>
      </ng-container>
    </table>
  </section>
</form>
