<main class="dialog-container">
  <section>
    <h1 class="dialog-title">{{ "LIST_OF_PRICE" | translate }}</h1>
  </section>
  <section class="flex justify-end space-x-4">
    <app-button-standard
      (click)="searchListPrice()"
      colorBtn="sky"
      optionBtn="search"
      typeBtn="button"
    >
      {{ "SEARCH" | translate }}
    </app-button-standard>
    <app-button-standard
      (click)="crudListPrice(null)"
      colorBtn="green"
      optionBtn="new"
      typeBtn="button"
    >
      {{ "NEW" | translate }}
    </app-button-standard>
  </section>
  <section class="section-table">
    <article class="container-dialog-table-300">
      <table
        class="main-dialog-table"
        cdk-table
        [dataSource]="dataSourceListPrice"
      >
        <tr
          class="header-table"
          cdk-header-row
          *cdkHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
          class="row-table"
          cdk-row
          *cdkRowDef="let row; columns: displayedColumns"
          [class.row-table-delete]="row.status === 'N'"
        ></tr>
        <ng-container cdkColumnDef="codlistprice">
          <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
            {{ "CODE" | translate }}
          </th>
          <td class="row-cell" cdk-cell *cdkCellDef="let row">
            {{ row.codlistprice }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="descri">
          <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
            {{ "DESCRIPTION" | translate }}
          </th>
          <td class="row-cell" cdk-cell *cdkCellDef="let row">
            {{ row.descri }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="codext">
          <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
            {{ "ALTERNATIVE_CODE" | translate }}
          </th>
          <td class="row-cell" cdk-cell *cdkCellDef="let row">
            {{ row.codext }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="operac">
          <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
            {{ "ACTION" | translate }}?
          </th>
          <td class="row-operac-cell" cdk-cell *cdkCellDef="let row">
            @if (row.status === 'Y') {
            <app-button-operac
              (click)="crudListPrice(row)"
              optionBtn="edit"
              colorBtn="sky"
            >
            </app-button-operac>
            } @if (row.status === 'Y') {
            <app-button-operac
              (click)="deleteListPrice(row)"
              optionBtn="delete"
              colorBtn="red"
            ></app-button-operac>
            }
          </td>
        </ng-container>
      </table>
    </article>
    <article>
      <mat-paginator
        [hidePageSize]="true"
        [length]="totalElements"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page"
      >
      </mat-paginator>
    </article>
  </section>
  <section class="flex justify-end">
    <app-button-standard
      (click)="closeDialog(null)"
      colorBtn="red"
      optionBtn="close"
      typeBtn="button"
    >
      {{ "CLOSE" | translate }}
    </app-button-standard>
  </section>
</main>
