<main class="sub-dialog-container">
  <section class="flex w-full justify-center">
    <form [formGroup]="formSearchExchangeRate" class="space-y-2">
      <div class="grid grid-cols-2 gap-x-8">
        <div class="grid grid-cols-3">
          <label for="startat" class="label-input-sm">{{ 'START_AT' | translate }}</label>
          <input
            id="startat"
            name="startat"
            type="date"
            class="input-auto col-span-2"
            formControlName="startat"
          />
        </div>
        <div class="grid grid-cols-3">
          <label for="finalat" class="label-input-sm">{{ 'END_AT' | translate }}</label>
          <input
            id="finalat"
            name="finalat"
            type="date"
            class="input-auto col-span-2"
            formControlName="finalat"
          />
        </div>
      </div>
      <div class="grid grid-cols-2 gap-x-8">
        <div class="grid grid-cols-3">
          <div class="w-56">
            <label for="origen" class="label-input-sm">{{ 'ORIGIN_CURRENCY' | translate }}</label>
          </div>
          <select
            id="origen"
            class="select-default col-span-2"
            formControlName="origen"
          >
            @for (item of currencies; track item) {
              <option
                [value]="item.codcur"
                class="option-default"
                >
                {{ item.descri }}
              </option>
            }
          </select>
        </div>
        <div class="grid grid-cols-3">
          <div class="w-56">
            <label for="destin" class="label-input-sm">{{ 'DESTINATION_CURRENCY' | translate }}</label>
          </div>
          <select
            id="destin"
            class="select-default col-span-2"
            formControlName="destin"
          >
            @for (item of currencies; track item) {
              <option
                [value]="item.codcur"
                class="option-default"
                >
                {{ item.descri }}
              </option>
            }
          </select>
        </div>
      </div>
    </form>
  </section>
  <section class="flex justify-end space-x-4">
    <app-button-standard
      colorBtn="sky"
      optionBtn="search"
      typeBtn="button"
      (click)="searchExchangeRate()"
    >
      {{ 'SEARCH' | translate }}
    </app-button-standard>
    <app-button-standard
      colorBtn="green"
      optionBtn="new"
      typeBtn="button"
      (click)="crudExchangeRate(null)"
    >
      {{ 'NEW' | translate }}
    </app-button-standard>
  </section>
  <section class="section-table">
    <article class="container-dialog-table">
      <table
        class="main-dialog-table"
        cdk-table
        [dataSource]="dataSourceExchangeRate"
      >
        <tr
          class="header-table"
          cdk-header-row
          *cdkHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
          class="row-table"
          cdk-row
          *cdkRowDef="let row; columns: displayedColumns"
        ></tr>
        <ng-container cdkColumnDef="registdate">
          <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>{{ 'DATE' | translate }}</th>
          <td
            cdk-cell
            class="row-cell min-w-[140px] text-center"
            *cdkCellDef="let row"
          >
            {{ formatDate(row.registdate) }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="origen">
          <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
            {{ 'ORIGIN_CURRENCY' | translate }}
          </th>
          <td class="row-cell" cdk-cell *cdkCellDef="let row">
            {{ row.origen }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="destin">
          <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
            {{ 'DESTINATION_CURRENCY' | translate }}
          </th>
          <td class="row-cell" cdk-cell *cdkCellDef="let row">
            {{ row.destin }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="eventa">
          <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
            {{ 'SALES_EXCHANGE_RATE' | translate }}
          </th>
          <td class="row-cell" cdk-cell *cdkCellDef="let row">
            {{ row.eventa }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="ecompra">
          <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
            {{ 'PURCHASE_EXCHANGE_RATE' | translate }}
          </th>
          <td class="row-cell" cdk-cell *cdkCellDef="let row">
            {{ row.ecompra }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="operac">
          <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>{{ 'ACTION' | translate }}</th>
          <td class="row-operac-cell" cdk-cell *cdkCellDef="let row">
            <app-button-operac
              optionBtn="delete"
              colorBtn="red"
              (click)="deleteExchangeRate(row)"
            ></app-button-operac>
          </td>
        </ng-container>
      </table>
    </article>
    <mat-paginator
      [hidePageSize]="true"
      [length]="totalElements"
      [pageSize]="1"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
  </section>
  <section class="flex justify-end">
    <app-button-standard
      (click)="closeDialog()"
      [colorBtn]="'red'"
      optionBtn="close"
      [typeBtn]="'button'"
    >
      {{ 'CLOSE' | translate }}
    </app-button-standard>
  </section>
</main>
