<main class="flex h-full w-full justify-center overflow-hidden">
  <menu class="left-container">
    <app-siderbar-left></app-siderbar-left>
  </menu>
  <div [ngSwitch]="isStatusInvoice" class="main-container">
    <app-header-invoice class="h-[100px]"></app-header-invoice>
    <div class="body-container">
      <section *ngSwitchCase="'register'" class="sub-main-container">
        <article class="h-auto w-full">
          <app-register-facbol [isNewDocument]="isNewDocumentValue"></app-register-facbol>
        </article>
        <article class="h-auto w-full">
          <app-detail-items-facbol [isNewDocument]="isNewDocumentValue"></app-detail-items-facbol>
        </article>
        <article class="h-auto w-full px-4">
          <app-resume-facbol (isNewDocument)="isNewDocument($event)"></app-resume-facbol>
        </article>
      </section>
      <section *ngSwitchCase="'search'" class="sub-main-container">
        <article>
          <app-search-facbol></app-search-facbol>
        </article>
        <article class="w-full">
          <app-detail-search-invoice></app-detail-search-invoice>
        </article>
      </section>
    </div>
    <app-footer class="h-[60px]"></app-footer>
  </div>
  <menu class="rigth-container">
    <app-siderbar-rigth></app-siderbar-rigth>
  </menu>
  <ngx-spinner
    bdColor="rgba(0,0,0,0.5)"
    size="large"
    color="#ffffff"
    type="ball-spin-clockwise"
    [fullScreen]="true"
  >
    <p style="color: white">Loading...</p>
  </ngx-spinner>
</main>
