<form
  [formGroup]="formCrudSerieCommercialDocument"
  class="flex h-full w-full flex-col space-y-6 px-4 py-6"
>
  <section class="grid grid-cols-2 gap-x-4">
    <article class="col-span-1 space-y-2">
      <div class="flex">
        <label for="typcomdoc" class="label-input-sm label-required"
          >Type Document</label
        >
        <select
          name="typcomdoc"
          id="typcomdoc"
          class="select-default col-span-2"
          formControlName="typcomdoc"
          [class.select-invalid]="isInputInvalid('typcomdoc')"
          placeholder="Type Document*"
        >
          <option
            value=""
            class="option-default"
            disabled
            selected
            hidden
            [class.option-invalid]="isInputInvalid('typcomdoc')"
          >
            -- Elegir --
          </option>
          <option
            *ngFor="let item of listCommercialDocument"
            [value]="item.typcomdoc"
            class="option-default"
          >
            {{ item.typcomdoc + " - " + item.descri }}
          </option>
        </select>
      </div>
      <div class="flex">
        <label for="serie" class="label-input-sm label-required">Serie</label>
        <input
          id="serie"
          type="text"
          class="input-default"
          formControlName="serie"
          [class.input-invalid]="isInputInvalid('serie')"
          placeholder="Serie*"
        />
      </div>
      <div class="flex">
        <label for="codbranch" class="label-input-sm label-required"
          >Branch</label
        >
        <select
          name="codbranch"
          id="codbranch"
          class="select-default col-span-2"
          formControlName="codbranch"
          [class.select-invalid]="isInputInvalid('codbranch')"
          placeholder="Type Document*"
        >
          <option
            value=""
            class="option-default"
            disabled
            selected
            hidden
            [class.option-invalid]="isInputInvalid('codbranch')"
          >
            -- Elegir --
          </option>
          <option
            *ngFor="let item of listBranches"
            [value]="item.codbranch"
            class="option-default"
          >
            {{ item.codbranch + " - " + item.descri }}
          </option>
        </select>
      </div>
    </article>
    <article class="col-span-1 space-y-2">
      <div class="flex">
        <label for="abrevi" class="label-input-sm label-required"
          >Abbreviation</label
        >
        <input
          id="abrevi"
          type="text"
          class="input-default"
          formControlName="abrevi"
          [class.input-invalid]="isInputInvalid('abrevi')"
          placeholder="Abbreviation"
        />
      </div>
      <div class="flex">
        <label for="descri" class="label-input-sm label-required"
          >Description</label
        >
        <input
          id="descri"
          type="text"
          class="input-default"
          formControlName="descri"
          [class.input-invalid]="isInputInvalid('descri')"
          placeholder="Description"
        />
      </div>
      <div class="flex">
        <label for="codext" class="label-input-sm label-required"
          >External Code</label
        >
        <input
          id="codext"
          type="text"
          class="input-default"
          formControlName="codext"
          [class.input-invalid]="isInputInvalid('codext')"
          placeholder="External Code"
        />
      </div>
    </article>
  </section>
  <section class="grid grid-cols-2 gap-x-4">
    <div class="space-y-2">
      <div class="flex">
        <label for="typcorrel" class="label-input-sm label-required"
          >Type Correlative</label
        >
        <select
          name="typcorrel"
          id="typcorrel"
          class="select-default"
          formControlName="typcorrel"
          [class.select-invalid]="isInputInvalid('typcorrel')"
        >
          <option
            value=""
            class="option-default"
            disabled
            selected
            hidden
            [class.option-invalid]="isInputInvalid('typcorrel')"
          >
            -- Elegir --
          </option>
          <option value="A" class="option-default">Automatic</option>
          <option value="M" class="option-default">Manual</option>
        </select>
      </div>
    </div>
    <div class="space-y-2">
      <div class="flex">
        <label for="nrocorrel" class="label-input-sm label-required"
          >Nro Correlative</label
        >
        <input
          id="nrocorrel"
          type="number"
          class="input-default"
          formControlName="nrocorrel"
          [class.input-invalid]="isInputInvalid('nrocorrel')"
          placeholder="Code Bar*"
        />
      </div>
    </div>
  </section>
  <section class="grid grid-cols-3 gap-x-6">
    <div class="col-span-1 flex justify-between">
      <label for="docelectr" class="label-input-sm label-required"
        >Electronic Document?</label
      >
      <input
        id="docelectr"
        type="checkbox"
        class="checkbox-default"
        formControlName="docelectr"
      />
    </div>
    <div class="col-span-1 flex justify-between">
      <label for="defaul" class="label-input-sm label-required">Default?</label>
      <input
        id="defaul"
        type="checkbox"
        class="checkbox-default"
        formControlName="defaul"
      />
    </div>
    <div class="col-span-1 flex justify-between">
      <label for="status" class="label-input-sm label-required">Active?</label>
      <input
        id="status"
        type="checkbox"
        class="checkbox-default"
        formControlName="status"
      />
    </div>
  </section>
  <section>
    <hr class="my-2 h-px border-0 bg-gray-200 dark:bg-gray-700" />
    <label class="dialog-sub-title">Additional Information : </label>
  </section>
  <section class="space-y-2">
    <div class="flex">
      <label for="observ" class="label-input-xl">Observation</label>
      <textarea
        name=""
        id="observ"
        cols="30"
        rows="10"
        class="textarea-default"
        formControlName="observ"
      ></textarea>
    </div>
    <div class="flex">
      <label for="commen" class="label-input-xl">Comment</label>
      <textarea
        name=""
        id="commen"
        cols="30"
        rows="10"
        class="textarea-default"
        formControlName="commen"
      ></textarea>
    </div>
  </section>
  <section>
    <hr class="my-2 h-px border-0 bg-gray-200 dark:bg-gray-700" />
    <label class="dialog-sub-title">Audit Information : </label>
  </section>
  <section class="grid grid-cols-2 gap-x-4">
    <div class="space-y-2">
      <div class="flex">
        <label for="createby" class="label-input-sm">Create by : </label>
        <input
          id="createby"
          type="text"
          class="input-default"
          formControlName="createby"
        />
      </div>
      <div class="flex">
        <label for="createat" class="label-input-sm">Time : </label>
        <input
          id="createat"
          type="text"
          class="input-default"
          disabled
          [value]="formatDate(createat?.value)"
        />
      </div>
    </div>
    <div class="space-y-2">
      <div class="flex">
        <label for="updateby" class="label-input-sm">Update By : </label>
        <input
          id="updateby"
          type="text"
          class="input-default"
          formControlName="updateby"
        />
      </div>
      <div class="flex">
        <label for="updateat" class="label-input-sm">Time : </label>
        <input
          id="updateat"
          type="text"
          class="input-default"
          disabled
          [value]="formatDate(updateat?.value)"
        />
      </div>
    </div>
  </section>
</form>
