<div
  class="sidebar-left"
  (mouseenter)="!(openSidebar = true)"
  (mouseleave)="!(openSidebar = false)"
  >
  <section class="space-y-2">
    <article class="flex items-center justify-around">
      <div class="" [class.display-none]="!openSidebar">
        <img
          src="../../../../../../assets/images/icon/icon-admin.webp"
          alt=""
          class="rounded-full"
          height="40px"
          width="40px"
          />
      </div>
      <div>
        <p class="m-0">My Project</p>
        <div class="flex justify-around">
          <a href="https://github.com/luis122448" target="_blank">
            <fa-icon [icon]="faGithubSquare" size="xl"></fa-icon>
          </a>
          <a
            href="https://www.linkedin.com/in/luis-antonio-calvo-quispe-57a33b229/"
            target="_blank"
            >
            <fa-icon [icon]="faLinkedin" size="xl"></fa-icon>
          </a>
        </div>
      </div>
    </article>
    <article class="mx-auto flex justify-center space-x-2 py-2">
      <app-stack-tech [stackTechs]="stackTechs" [size]="6"></app-stack-tech>
      <app-stack-tech
        [stackTechs]="stackTechsDisplay"
        [size]="6"
        [class.display-none]="!openSidebar"
      ></app-stack-tech>
    </article>
  </section>
  <section class="flex justify-around space-x-2 py-2">
    <article class="" [class.display-none]="!openSidebar">
      <img
        [src]="this.imageArticleURL"
        [alt]="user?.coduser"
        class="rounded-full"
        height="48px"
        width="48px"
        />
    </article>
    <article>
      <p class="text-inline m-0 whitespace-nowrap text-left font-bold">{{user?.coduser}}</p>
      <p class="text-inline m-0 whitespace-nowrap text-left">{{user?.nombre}}</p>
      <p class="text-inline m-0 whitespace-nowrap text-left">
        <span
          class="me-1 inline-block h-2 w-2 rounded-full bg-green-500"
        ></span>
        <span>Online</span>
      </p>
    </article>
  </section>
  <section class="flex py-2">
    <input type="search" class="input-default" placeholder="Search*" />
    <button type="button" class="button-icon-search" (click)="onSearch()">
      <fa-icon
        [icon]="faMagnifyingGlass"
        class="icon-operac-button"
        size="sm"
      ></fa-icon>
    </button>
  </section>
  <section
    class="relative space-y-2 divide-y divide-dotted divide-slate-500 px-2 py-4"
    >
    @for (item of menuSidebar; track item) {
      <article>
        @if (item.subMenu.length === 0) {
          <div>
            <a
              class="menu-sidebar"
              [routerLink]="['/' + item.link]"
              routerLinkActive="menu-sidebar-active"
              >
              <div class="menu-siderbar-icon">
                <fa-icon class="icon-operac" [icon]="item.icon" sie="lg"></fa-icon>
              </div>
              <span class="menu-sidebar-text" [class.display-none]="!openSidebar">{{
                item.rotulo
              }}</span>
            </a>
          </div>
        } @else {
          <cdk-accordion>
            <cdk-accordion-item #accordionItem="cdkAccordionItem">
              <button
                (click)="accordionItem.toggle()"
                cdkOverlayOrigin
                #subMenuOverlay="cdkOverlayOrigin"
                class="menu-sidebar space-x-2"
                >
                <div class="menu-siderbar-icon">
                  <fa-icon
                    class="icon-operac"
                    [icon]="item.icon"
                    size="lg"
                  ></fa-icon>
                </div>
                <span
                  class="menu-sidebar-text"
                  [class.display-none]="!openSidebar"
                  >{{ item.rotulo }}</span
                  >
                </button>
                <div [style.display]="accordionItem.expanded ? '' : 'none'">
                  @for (itemSub of item.subMenu; track itemSub) {
                    <li>
                      <a
                        class="menu-sidebar"
                        [routerLink]="['/' + itemSub.link]"
                        routerLinkActive="menu-sidebar-active"
                        >
                        <div class="menu-siderbar-icon">
                          @if (itemSub.icon) {
                            <fa-icon
                              class="icon-operac"
                              [icon]="itemSub.icon"
                              size="lg"
                            ></fa-icon>
                          }
                        </div>
                        <span
                          class="menu-sidebar-text"
                          [class.display-none]="!openSidebar"
                          >{{ itemSub.rotulo }}</span
                          >
                        </a>
                      </li>
                    }
                  </div>
                </cdk-accordion-item>
              </cdk-accordion>
            }
            <ng-template #subMenu>
              <cdk-accordion>
                <cdk-accordion-item #accordionItem="cdkAccordionItem">
                  <button
                    (click)="accordionItem.toggle()"
                    cdkOverlayOrigin
                    #subMenuOverlay="cdkOverlayOrigin"
                    class="menu-sidebar space-x-2"
                    >
                    <div class="menu-siderbar-icon">
                      <fa-icon
                        class="icon-operac"
                        [icon]="item.icon"
                        size="lg"
                      ></fa-icon>
                    </div>
                    <span
                      class="menu-sidebar-text"
                      [class.display-none]="!openSidebar"
                      >{{ item.rotulo }}</span
                      >
                    </button>
                    <div [style.display]="accordionItem.expanded ? '' : 'none'">
                      @for (itemSub of item.subMenu; track itemSub) {
                        <li>
                          <a
                            class="menu-sidebar"
                            [routerLink]="['/' + itemSub.link]"
                            routerLinkActive="menu-sidebar-active"
                            >
                            <div class="menu-siderbar-icon">
                              @if (itemSub.icon) {
                                <fa-icon
                                  class="icon-operac"
                                  [icon]="itemSub.icon"
                                  size="lg"
                                ></fa-icon>
                              }
                            </div>
                            <span
                              class="menu-sidebar-text"
                              [class.display-none]="!openSidebar"
                              >{{ itemSub.rotulo }}</span
                              >
                            </a>
                          </li>
                        }
                      </div>
                    </cdk-accordion-item>
                  </cdk-accordion>
                </ng-template>
              </article>
            }
          </section>
        </div>
