<section class="card-header">
  <div
    class="card-cover"
    style="
      background-image: url('../../../../assets/images/background/backgroundLogin.jpeg');
    "
  ></div>
  <img
    class="card-avatar"
    src="../../../../assets/images/extra/Foto.jpg"
    alt="avatar"
  />
  <h1 class="card-fullname">Luis Antonio Calvo Quispe</h1>
  <h2 class="card-jobtitle">FULLSATCK DEVELOPER</h2>
</section>
<section class="card-main">
  <article class="card-content">
    <div class="card-subtitle">SOBRE MI</div>
    <div class="basic-text-xs">
      Bachiller en Ingenieria Industrial especializado como Full Stack Developer
      ( <span class="resalt-text">Java - Angular</span> ) con dos años de
      experiencia como como Administrador de Bases de Datos relacionales (
      <span class="resalt-text">Oracle, Interbase, PostgresSQL y MySQL</span>
      )<br />
      Desarrollador de servicios web con
      <span class="resalt-text">Java (SpringBoot) y Python</span>; y de
      interfaces con
      <span class="resalt-text">Angular 16, Tailwind y CSS</span>.<br />
      Experiencia en despliege de aplicaciones con Docker en servicios cloud de
      AWS ( <span class="resalt-text">EC2, S3</span> ) y Railway.
    </div>
  </article>
  <article class="flex flex-row justify-around w-36 mx-auto">
    <a
      href="https://www.linkedin.com/in/luis-antonio-calvo-quispe-57a33b229/"
      target="_blank"
    >
      <fa-icon [icon]="faGithubSquare" size="2xl"></fa-icon>
    </a>
    <a href="https://github.com/luis122448" target="_blank">
      <fa-icon [icon]="faLinkedin" size="2xl"></fa-icon>
    </a>
    <a href="https://t.me/luis122448" target="_blank">
      <fa-icon [icon]="faTelegram" size="2xl"></fa-icon>
    </a>
  </article>
</section>
