<section class="card-header">
  <div
    class="card-cover"
    style="
      background-image: url('../../../../assets/images/background/backgroundLogin.jpeg');
    "
  ></div>
  <img
    class="card-avatar"
    src="../../../../assets/images/icon/icon-admin.webp"
    alt="avatar"
  />
  <h1 class="card-fullname">Luis Antonio Calvo Quispe</h1>
  <h2 class="card-jobtitle">JR. FULLSATCK DEVELOPER</h2>
</section>
<section class="card-main">
  <article class="card-content">
    <div class="card-subtitle">SOBRE MI</div>
    <div class="basic-text-xs">
      Ingenierio Industrial con 2 años de experiencia en el desarrollo de
      Aplicaciones Web <span class="resalt-text">(Java y Angular)</span> y
      Administración de Base de Datos <span class="resalt-text"
        >(Oracle, MySQL, PostgreSQL y Interbase)</span
      >.<br />
      Desarrollo de soluciones ETL, para
      transformación,  migración y analítica de datos con <span class="resalt-text">Python y FastAPI</span>.<br />
      Despliegue aplicaciones con Docker y Docker-Compose en servicodores
      Cloud de <span class="resalt-text">Oracle, AWS (EC2, S3) y Railway</span>.
    </div>
  </article>
  <article class="flex flex-row justify-around w-36 mx-auto">
    <a
      href="https://www.linkedin.com/in/luis-antonio-calvo-quispe-57a33b229/"
      target="_blank"
    >
      <fa-icon [icon]="faGithubSquare" size="2xl"></fa-icon>
    </a>
    <a href="https://github.com/luis122448" target="_blank">
      <fa-icon [icon]="faLinkedin" size="2xl"></fa-icon>
    </a>
    <a href="https://t.me/luis122448" target="_blank">
      <fa-icon [icon]="faTelegram" size="2xl"></fa-icon>
    </a>
  </article>
</section>
