<form
  action="#"
  [formGroup]="formArticleListPrice"
  class="sub-dialog-container-noflex"
  >
  <section class="section-table-150">
    <article class="container-dialog-table">
      <table
        class="main-dialog-table"
        cdk-table
        [dataSource]="dataSourceListPriceArticle"
        >
        <tr
          class="header-table"
          cdk-header-row
          *cdkHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
          class="row-table"
          cdk-row
          *cdkRowDef="let row; columns: displayedColumns"
          [class.row-table-delete]="row.status === 'N'"
        ></tr>
        <ng-container cdkColumnDef="codlistprice">
          <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>List Price</th>
          <td class="row-cell" cdk-cell *cdkCellDef="let row">
            {{ getListPrice(row.codlistprice) }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="codart">
          <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
            Art. Code
          </th>
          <td class="row-cell" cdk-cell *cdkCellDef="let row">
            {{ row.codart }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="desart">
          <th class="min-w-80 header-cell" cdk-header-cell *cdkHeaderCellDef>
            Art. Description
          </th>
          <td class="row-cell" cdk-cell *cdkCellDef="let row">
            {{ row.desart }}
          </td>
        </ng-container>
        <!-- <ng-container cdkColumnDef="modprice">
        <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
          Change Price?
        </th>
        <td class="row-cell" cdk-cell *cdkCellDef="let row">
          {{ row.modprice }}
        </td>
      </ng-container>
      <ng-container cdkColumnDef="moddesc">
        <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
          Change Desc?
        </th>
        <td class="row-cell" cdk-cell *cdkCellDef="let row">
          {{ row.moddesc }}
        </td>
      </ng-container> -->
      <ng-container cdkColumnDef="implistprice">
        <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
          List Price
        </th>
        <td class="row-cell" cdk-cell *cdkCellDef="let row">
          {{ row.implistprice | number : "1.2-2" }}
        </td>
      </ng-container>
      <ng-container cdkColumnDef="impdesctotal">
        <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
          Discount
        </th>
        <td class="row-cell" cdk-cell *cdkCellDef="let row">
          {{ row.impdesctotal | number : "1.2-2" }}
        </td>
      </ng-container>
      <ng-container cdkColumnDef="impsaleprice">
        <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
          Sale Price
        </th>
        <td class="row-cell" cdk-cell *cdkCellDef="let row">
          {{ row.impsaleprice | number : "1.2-2" }}
        </td>
      </ng-container>
      <ng-container cdkColumnDef="operac">
        <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>Action?</th>
        <td class="row-operac-cell" cdk-cell *cdkCellDef="let row">
          @if (row.status === 'Y') {
            <app-button-operac
              (click)="updateListPriceArticle(row)"
              optionBtn="edit"
              colorBtn="sky"
              >
            </app-button-operac>
          }
          @if (row.status === 'Y') {
            <app-button-operac
              (click)="deleteListPriceArticle(row)"
              optionBtn="delete"
              colorBtn="red"
            ></app-button-operac>
          }
        </td>
      </ng-container>
    </table>
  </article>
</section>
<section class="grid grid-cols-2 gap-x-4">
  <article class="col-span-1 space-y-2">
    <div class="flex">
      <label for="codlistprice" class="label-input-sm label-required"
        >List Price Code</label
        >
        <select
          name="codlistprice"
          id="codlistprice"
          class="select-default"
          formControlName="codlistprice"
          [class.select-invalid]="isInputInvalid('codlistprice')"
          >
          @for (item of listprices; track item) {
            <option
              [value]="item.codlistprice"
              class="option-default"
              selected
              [class.option-invalid]="isInputInvalid('codlistprice')"
              >
              {{ item.codlistprice + " - " + item.descri }}
            </option>
          }
        </select>
      </div>
      <div class="flex">
        <label for="codart" class="label-input-sm label-required"
          >Art. Code</label
          >
          <input
            id="codart"
            type="text"
            class="input-default"
            formControlName="codart"
            [class.input-invalid]="isInputInvalid('codart')"
            placeholder="Abbreviation"
            />
        </div>
        <div class="flex">
          <label for="desart" class="label-input-sm label-required"
            >Art. Description</label
            >
            <input
              id="desart"
              type="text"
              class="input-default"
              formControlName="desart"
              [class.input-invalid]="isInputInvalid('desart')"
              placeholder="{{ 'DESCRIPTION' | translate }}"
              />
          </div>
          <div class="flex">
            <label for="price" class="label-input-sm label-required">Price</label>
            <input
              id="price"
              type="number"
              min="0.00"
              step="0.01"
              class="input-number"
              formControlName="price"
              [class.input-invalid]="isInputInvalid('price')"
              placeholder="price"
              />
          </div>
        </article>
        <article class="h-full w-full space-y-4 px-8">
          <div class="flex w-full justify-between">
            <label for="modprice" class="label-input-sm label-required"
              >Change Price?</label
              >
              <input
                id="modprice"
                type="checkbox"
                class="checkbox-default"
                formControlName="modprice"
                />
            </div>
            <div class="flex w-full justify-between">
              <label for="moddesc" class="label-input-sm label-required"
                >Change Description?</label
                >
                <input
                  id="moddesc"
                  type="checkbox"
                  class="checkbox-default"
                  formControlName="moddesc"
                  />
              </div>
            </article>
          </section>
          <section>
            <hr class="dialog-sub-title-line" />
            <label class="dialog-sub-title">Additional Information : </label>
          </section>
          <section class="space-y-2">
            <article class="grid grid-cols-5 gap-x-4">
              <div class="flex">
                <label for="desmax" class="label-input-sm label-required"
                  >Max Discount</label
                  >
                  <input
                    id="desmax"
                    type="number"
                    min="0.00"
                    step="0.01"
                    class="input-number"
                    formControlName="desmax"
                    [class.input-invalid]="isInputInvalid('desmax')"
                    placeholder="Max Discount"
                    />
                </div>
                <div class="flex">
                  <label for="desc01" class="label-input-sm label-required"
                    >Discount N°1</label
                    >
                    <input
                      id="desc01"
                      type="number"
                      min="0.00"
                      step="0.01"
                      class="input-number"
                      formControlName="desc01"
                      [class.input-invalid]="isInputInvalid('desc01')"
                      placeholder="Discount N°1"
                      />
                  </div>
                  <div class="flex">
                    <label for="desc02" class="label-input-sm label-required"
                      >Discount N°2</label
                      >
                      <input
                        id="desc02"
                        type="number"
                        min="0.00"
                        step="0.01"
                        class="input-number"
                        formControlName="desc02"
                        [class.input-invalid]="isInputInvalid('desc02')"
                        placeholder="Discount N°2"
                        />
                    </div>
                    <div class="flex">
                      <label for="desc03" class="label-input-sm label-required"
                        >Discount N°3</label
                        >
                        <input
                          id="desc03"
                          type="number"
                          min="0.00"
                          step="0.01"
                          class="input-number"
                          formControlName="desc03"
                          [class.input-invalid]="isInputInvalid('desc03')"
                          placeholder="Discount N°3"
                          />
                      </div>
                      <div class="flex">
                        <label for="desc04" class="label-input-sm label-required"
                          >Discount N°4</label
                          >
                          <input
                            id="desc04"
                            type="number"
                            min="0.00"
                            step="0.01"
                            class="input-number"
                            formControlName="desc04"
                            [class.input-invalid]="isInputInvalid('desc04')"
                            placeholder="Discount N°4"
                            />
                        </div>
                      </article>
                    </section>
                    <section>
                      <hr class="dialog-sub-title-line" />
                      <label class="dialog-sub-title">Audit Information : </label>
                    </section>
                    <section class="grid grid-cols-2 gap-x-4">
                      <div class="space-y-2">
                        <div class="flex">
                          <label for="createby" class="label-input-sm">Create by : </label>
                          <input
                            id="createby"
                            type="text"
                            class="input-default"
                            formControlName="createby"
                            />
                        </div>
                        <div class="flex">
                          <label for="createat" class="label-input-sm">Time : </label>
                          <input
                            id="createat"
                            type="text"
                            class="input-default"
                            disabled
                            [value]="formatDate(createat?.value)"
                            />
                        </div>
                      </div>
                      <div class="space-y-2">
                        <div class="flex">
                          <label for="updateby" class="label-input-sm">Update By : </label>
                          <input
                            id="updateby"
                            type="text"
                            class="input-default"
                            formControlName="updateby"
                            />
                        </div>
                        <div class="flex">
                          <label for="updateat" class="label-input-sm">Time : </label>
                          <input
                            id="updateat"
                            type="text"
                            class="input-default"
                            disabled
                            [value]="formatDate(updateat?.value)"
                            />
                        </div>
                      </div>
                    </section>
                    <section class="flex justify-end space-x-4">
                      <app-button-standard
                        (click)="saveArticleListPrice()"
                        colorBtn="green"
                        optionBtn="save"
                        typeBtn="button"
                        >
                        Save
                      </app-button-standard>
                      <app-button-standard
                        (click)="closeDialog()"
                        colorBtn="red"
                        optionBtn="close"
                        typeBtn="button"
                        >
                        Close
                      </app-button-standard>
                    </section>
                  </form>
