<form [formGroup]="formCrudExchangeRate" class="sub-dialog-container">
  <section class="grid grid-cols-3 gap-x-6">
    <label class="dialog-sub-title col-span-1">{{ 'IMPORT_BY' | translate }} : </label>
    <app-button-import-sunat class="col-span-1" (click)="importSunat()" typeBtn="button">
    </app-button-import-sunat>
    <app-button-import-sbs class="col-span-1"  (click)="importSunat()" typeBtn="button"></app-button-import-sbs>
  </section>
  <section>
    <hr class="dialog-sub-title-line" />
    <label class="dialog-sub-title">{{ 'BASIC_INFORMATION' | translate }} : </label>
  </section>
  <section class="space-y-4">
    <div class="grid grid-cols-2 gap-x-8">
      <label for="registdate" class="label-input-sm label-required"
        >{{ 'REGISTED DATE' | translate }}</label
      >
      <input
        id="registdate"
        name="registdate"
        type="date"
        class="input-default"
        formControlName="registdate"
        [class.input-invalid]="isInputInvalid('registdate')"
      />
    </div>
    <div class="grid grid-cols-2 gap-x-8">
      <div>
        <div class="flex">
          <label for="origen" class="label-input-xl label-required"
            >{{ 'ORIGIN_CURRENCY' | translate }}</label
          >
          <select id="origen" class="input-default" formControlName="origen">
            @for (item of currencies; track item) {
              <option
                [value]="item.codcur"
                class="option-default"
                >
                {{ item.descri }}
              </option>
            }
          </select>
        </div>
      </div>
      <div>
        <div class="flex">
          <label for="destin" class="label-input-xl label-required"
            >{{ 'DESTINATION_CURRENCY' | translate }}</label
          >
          <select id="destin" class="input-default" formControlName="destin">
            @for (item of currencies; track item) {
              <option
                [value]="item.codcur"
                class="option-default"
                >
                {{ item.descri }}
              </option>
            }
          </select>
        </div>
      </div>
    </div>
  </section>
  <section class="grid grid-cols-3 gap-x-12">
    <article class="grid grid-rows-2 gap-y-2">
      <div class="flex flex-col space-y-1">
        <label for="fventa" class="label-input-sm label-required">{{ 'SELLING_FACTOR' | translate }}</label>
        <input
          id="fventa"
          type="number"
          min="0.00"
          step="0.01"
          formControlName="fventa"
          [class.input-invalid]="isInputInvalid('fventa')"
          class="input-default"
        />
      </div>
      <div class="flex flex-col space-y-1">
        <label for="fcompra" class="label-input-sm label-required">{{ 'BUYING_FACTOR' | translate }}</label>
        <input
          id="fcompra"
          type="number"
          min="0.00"
          step="0.01"
          formControlName="fcompra"
          [class.input-invalid]="isInputInvalid('fcompra')"
          class="input-default"
        />
      </div>
    </article>
    <article class="grid grid-rows-2 gap-y-2">
      <div class="flex flex-col space-y-1">
        <label for="cventa" class="label-input-sm">{{ 'ACCOUNTING_SALES' | translate }}</label>
        <input
          id="cventa"
          type="number"
          min="0.00"
          step="0.01"
          formControlName="cventa"
          class="input-default"
        />
      </div>
      <div class="flex flex-col space-y-1">
        <label for="ccompra" class="label-input-sm">{{ 'ACCOUNTING_PURCHASE' | translate}}</label>
        <input
          id="ccompra"
          type="number"
          min="0.00"
          step="0.01"
          formControlName="ccompra"
          class="input-default"
        />
      </div>
    </article>
    <article class="grid grid-rows-2 gap-y-2">
      <div class="flex flex-col space-y-1">
        <label for="eventa" class="label-input-sm label-required">{{ 'SALES_ENTITY' | translate }}</label>
        <input
          id="eventa"
          type="number"
          min="0.00"
          step="0.01"
          formControlName="eventa"
          [class.input-invalid]="isInputInvalid('eventa')"
          class="input-default"
        />
      </div>
      <div class="flex flex-col space-y-1">
        <label for="ecompra" class="label-input-sm label-required">{{ 'PURCHASING_ENTITY' | translate }}</label>
        <input
          id="ecompra"
          type="number"
          min="0.00"
          step="0.01"
          formControlName="ecompra"
          [class.input-invalid]="isInputInvalid('ecompra')"
          class="input-default"
        />
      </div>
    </article>
  </section>
  <section>
    <hr class="dialog-sub-title-line" />
    <label class="dialog-sub-title">{{ 'AUDIT_INFORMATION' | translate }} : </label>
  </section>
  <section class="grid grid-cols-2 gap-x-4">
    <div class="space-y-2">
      <div class="flex">
        <label for="createby" class="label-input-sm">{{ 'CREATE_BY' | translate }} : </label>
        <input
          id="createby"
          type="text"
          class="input-default"
          formControlName="createby"
        />
      </div>
      <div class="flex">
        <label for="createat" class="label-input-sm">{{ 'TIME' | translate }} : </label>
        <input
          id="createat"
          type="text"
          class="input-default"
          disabled
          [value]="formatDate(createat?.value)"
        />
      </div>
    </div>
    <div class="space-y-2">
      <div class="flex">
        <label for="updateby" class="label-input-sm">{{ 'UPDATE_BY' | translate }} : </label>
        <input
          id="updateby"
          type="text"
          class="input-default"
          formControlName="updateby"
        />
      </div>
      <div class="flex">
        <label for="updateat" class="label-input-sm">{{ 'TIME' | translate }} : </label>
        <input
          id="updateat"
          type="text"
          class="input-default"
          disabled
          [value]="formatDate(updateat?.value)"
        />
      </div>
    </div>
  </section>
  <section class="flex justify-end space-x-4">
    <app-button-standard
      (click)="saveExchangeRate()"
      [colorBtn]="'green'"
      optionBtn="save"
      [typeBtn]="'button'"
    >
      {{ 'SAVE' | translate }}
    </app-button-standard>
    <app-button-standard
      (click)="closeDialog()"
      [colorBtn]="'red'"
      optionBtn="close"
      [typeBtn]="'button'"
    >
      {{ 'CLOSE' | translate }}
    </app-button-standard>
  </section>
</form>
