<section class="card-content">
  <div class="card-subtitle">WORK EXPERIENCE</div>
  <div class="card-timeline">
    <div class="card-item" data-year="2023">
      <div class="card-item-title">
        DESARROLLADOR DE APLICAIONES Y DBA ORACLE<span></span>
      </div>
      <div class="card-item-desc">
        •	Migración de BASE DE DATOS (Interbase -> Oracle).<br>
        •	Desarrollo y despliegue de servicios web para automatizar procesos ETL (Oracle y MySQL) con PYTHON y FASTAPI.<br>
        •	Implementación de Reportes o Dashboard (Comercial, Cobranza y Contable) con Oracle Analytics.<br>
        •	Despliegue y automatización de procesos con Docker y Docker-Compose.<br>
      </div>
    </div>
    <div class="card-item" data-year="2022">
      <div class="card-item-title">ADMINISTRADOR DE BASE DE DATOS (ORACLE, MYSQL, INTERBASE)<span></span></div>
      <div class="card-item-desc">
        •	Analista y programador de BASE DE DATOS - PL/SQL.<br>
        •	Análisis y optimización de Querys, SP, Jobs.<br>
        •	Limpieza, migración y transformación de data.<br>
        •	Modelamiento e implementación de Tablas, SP y Jobs para nuevas lógicas de negocio.<br>
      </div>
    </div>
  </div>
</section>
