<section class="card-content">
  <div class="card-subtitle text-slate-800 dark:text-slate-200">WORK EXPERIENCE</div>
  <div class="card-timeline">
    <div class="card-item" data-year="2023">
      <div class="card-item-title text-slate-800 dark:text-slate-200">
        SUB JEFE DE DESARROLLO DE SOFTWARE - <span class="resalt-text">GRUPO TSI</span>
      </div>
      <div class="card-item-desc text-slate-700 dark:text-slate-300">
        •	Encargado del análisis de los nuevos requerimientos, aprobación, dirección de la implementación, revisión de pruebas y despliegue a producción.<br>
        •	Desarrollo del sistema de control de Activos Fijos utilizando Java 8, Hibernate, Junit, Spring Boot, JaspertReport y REST-API.<br>
        •	Desarrollo y despliegue de Servicios REST-API y automatización de procesos ETL (Oracle y MySQL) con Python y FASTAPI.<br>
        •	Análisis de pruebas de casos de negocios de comprobantes electrónicos utilizando SoapUI, XML, y Web Services.<br>
      </div>
    </div>
    <div class="card-item" data-year="2022">
      <div class="card-item-title text-slate-800 dark:text-slate-200">DESARROLLADOR DE SOFTWARE - <span class="resalt-text">GRUPO TSI</span></div>
      <div class="card-item-desc text-slate-700 dark:text-slate-300">
        •	Analista y desarrollador del sistema de gestión de Recursos Humanos (Planilla) utilizando PL/SQL (Oracle), Java 8, Junit, Spring Boot, JaspertReport y REST-API.<br>
        •	Desarrollo e implementación de reportes Comerciales, Contables, Cuentas por Cobrar, … utilizando JasperReport, Java 8 y PL/SQL.<br>
        •	Jefe de desarrollo en la implementación de analíticas y dashboard del ERP Comercial.<br>
        •	Mantenimiento y desarrollo de nuevas lógicas de negocio en a la emisión de comprobantes electrónicos.<br>
        •	Implementación de reportes y dashboard para inteligencia de negocio utilizando Oracle Analytics.<br>
      </div>
    </div>
  </div>
</section>
