<div class="crud-container relative h-full w-full">
  <mat-tab-group [selectedIndex]="selectedTab.value" (selectedIndexChange)="selectedTab.setValue($event)">
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="mat-tab-label-container">
            <fa-icon [icon]="faFileInvoice"></fa-icon>
            <span class="mat-tab-label-span">Informacion Basica</span>
          </div>
        </ng-template>
        <app-basic-info-cliente></app-basic-info-cliente>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="mat-tab-label-container">
            <fa-icon [icon]="faCreditCard"></fa-icon>
            <span class="mat-tab-label-span">Condicion de Pago</span>
          </div>
        </ng-template>
        <app-condicion-pago-cliente></app-condicion-pago-cliente>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="mat-tab-label-container">
            <fa-icon [icon]="faAddressBook"></fa-icon>
            <span class="mat-tab-label-span">Contacto</span>
          </div>
        </ng-template>
        <app-contacto-cliente></app-contacto-cliente>
      </mat-tab>
  </mat-tab-group>
</div>
