<main class="flex h-full w-full justify-center overflow-hidden">
  <menu class="left-container">
    <app-siderbar-left></app-siderbar-left>
  </menu>
  <div class="main-container">
    <app-header-configuration
      class="h-[100px]"
      [title]="this.title"
    ></app-header-configuration>
    <div class="body-container">
      @switch (isStatusConfiguration()) {
        @case ('search') {
          <app-serie-commercial-document
          ></app-serie-commercial-document>
        }
        @case ('register') {
          <app-crud-serie-commercial-document
          ></app-crud-serie-commercial-document>
        }
        @case ('new') {
          <app-crud-serie-commercial-document
          ></app-crud-serie-commercial-document>
        }
      }
    </div>
    <app-footer class="h-[60px]"></app-footer>
  </div>
  <menu class="right-container">
    <app-siderbar-right></app-siderbar-right>
  </menu>
</main>
