<div class="crud-container relative">
  <mat-tab-group [selectedIndex]="selectedTab.value" (selectedIndexChange)="selectedTab.setValue($event)">
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="mat-tab-label-container">
            <fa-icon [icon]="faFileImport"></fa-icon>
            <span class="mat-tab-label-span">Import / Export Article</span>
          </div>
        </ng-template>
        <app-basic-import-article></app-basic-import-article>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="mat-tab-label-container">
            <fa-icon [icon]="faFileImport"></fa-icon>
            <span class="mat-tab-label-span">Import / Export List Price</span>
          </div>
        </ng-template>
        <app-basic-import-list-price></app-basic-import-list-price>
      </mat-tab>
  </mat-tab-group>
  <app-button-operac
    optionBtn="close"
    colorBtn="red"
    class="absolute top-0 right-2"
    (click)="closeDialog()"
  ></app-button-operac>
</div>
