<main class="sub-main-container">
  <section
    class="mx-auto max-w-2xl flex-row items-center rounded-lg border border-gray-200 bg-white shadow dark:border-gray-700 dark:bg-gray-800"
  >
    <article class="mx-auto h-auto w-full max-w-7xl p-1">
      <app-video-player></app-video-player>
    </article>
    <article class="flex w-full flex-col justify-between p-4 leading-normal">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Tutorial - Smart Shell
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Como primer paso visualize el tutorial para conocer las funcionalidades del sistema de
        facturación comercial :
      </p>
      <ul class="basic-text ml-5 list-outside list-none md:list-disc">
        <li>Emisión, busqueda e impresión de comprobantes electrónicos</li>
        <li>Mantenimiento de artículos, clientes, vendedores y tipo de cambio</li>
        <li>
          Importación y exportación masiva de articulos y lista de precios (Excel)
        </li>
        <li>Subida, descarga y control de archivos adjuntos (PDF, imagen, zip, …)</li>
        <li>
          Autenticación y autorización de usuarios con roles y permisos
        </li>
      </ul>
    </article>
  </section>
</main>
