<main class="h-full w-full flex justify-center overflow-hidden">
  <menu class="left-container">
    <app-siderbar-left></app-siderbar-left>
  </menu>
  <div class="main-container">
    <app-header-configuration
      class="h-[100px]"
      (changeSave)="changeSave($event)"
      [title]="this.title"></app-header-configuration>
    <div class="body-container">
      <app-principal-configuration [inputSave]="this.save"></app-principal-configuration>
    </div>
  <app-footer class="h-[60px]"></app-footer>
  </div>
  <menu class="rigth-container">
    <app-siderbar-rigth></app-siderbar-rigth>
  </menu>
  <ngx-spinner
    bdColor="rgba(0,0,0,0.5)"
    size="large"
    color="#ffffff"
    type="ball-spin-clockwise"
    [fullScreen]="true">
    <p style="color: white">Loading...</p>
  </ngx-spinner>
</main>
