<main class="h-full w-full flex justify-center overflow-hidden">
  <menu class="left-container">
    <app-siderbar-left></app-siderbar-left>
  </menu>
  <div class="main-container">
    <app-header-configuration
      class="h-[100px]"
      [title]="this.title"></app-header-configuration>
    <div class="body-container">
      <app-principal-configuration [inputSave]="this.save"></app-principal-configuration>
    </div>
  <app-footer class="h-[60px]"></app-footer>
  </div>
  <menu class="right-container">
    <app-siderbar-right></app-siderbar-right>
  </menu>

</main>
