<form class="sub-main-container px-4" [formGroup]="formCrudCompany">
  <section class="grid grid-cols-5 pt-6 gap-x-6">
    <article class="col-span-2 space-y-2">
      <div class="flex">
        <label for="company" class="label-input-sm label-required"
          >Company</label
          >
          <input
            id="company"
            type="text"
            class="input-default"
            formControlName="company"
            [class.input-invalid]="isInputInvalid('company')"
            placeholder="Company*"
            />
        </div>
        <div class="flex">
          <label for="appellation" class="label-input-sm label-required"
            >Company Name</label
            >
            <input
              id="appellation"
              type="text"
              class="input-default"
              formControlName="appellation"
              [class.input-invalid]="isInputInvalid('appellation')"
              placeholder="Company Name*"
              />
          </div>
          <div class="flex">
            <label for="addres" class="label-input-sm label-required"
              >Address</label
              >
              <input
                id="addres"
                type="text"
                class="input-default"
                formControlName="addres"
                [class.input-invalid]="isInputInvalid('addres')"
                placeholder="Address*"
                />
            </div>
            <div class="flex">
              <label for="poscod" class="label-input-sm label-required"
                >Post Code</label
                >
                <input
                  id="poscod"
                  type="text"
                  class="input-default"
                  formControlName="poscod"
                  [class.input-invalid]="isInputInvalid('poscod')"
                  placeholder="Post Code*"
                  />
              </div>
            </article>
            <article class="col-span-3 h-full w-full space-x-4 flex justify-between">
              <div class="flex w-56 items-center justify-center m-auto">
                @if (imageCompanyImageURL === imageNoUpload) {
                  <div>
                    <label
                      for="imageCompanyImage"
                      class="flex h-48 w-48 label-image"
                      >
                      <div class="flex flex-col items-center justify-center">
                        <svg
                          class="h-8 w-8 text-gray-500 dark:text-gray-400"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 20 16"
                          >
                          <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                            />
                        </svg>
                        <label class="text-sm text-gray-500 dark:text-gray-400">
                          <span class="font-semibold">Click to upload</span>
                        </label>
                        <span class="text-xs text-gray-500 dark:text-gray-400">
                          Only JPG (MAX. 400x400px)
                        </span>
                      </div>
                      <input
                        id="imageCompanyImage"
                        type="file"
                        class="hidden"
                        (change)="selectedImage($event,'image')"
                        />
                    </label>
                  </div>
                } @else {
                  <div class="h-48 w-48 relative">
                    <app-button-operac
                      optionBtn="close"
                      colorBtn="red"
                      class="absolute top-0 right-0"
                      (click)="resetImage('image')"
                    ></app-button-operac>
                    <label
                      for="imageCompanyImage"
                      class="flex h-48 w-48 label-image"
                      >
                      <img
                        [src]="imageCompanyImageURL"
                        alt=""
                        class="h-48 w-48 object-cover bg-slate-100"
                        />
                    </label>
                  </div>
                }
                <ng-template #imageCompanyImage>
                  <div class="h-48 w-48 relative">
                    <app-button-operac
                      optionBtn="close"
                      colorBtn="red"
                      class="absolute top-0 right-0"
                      (click)="resetImage('image')"
                    ></app-button-operac>
                    <label
                      for="imageCompanyImage"
                      class="flex h-48 w-48 label-image"
                      >
                      <img
                        [src]="imageCompanyImageURL"
                        alt=""
                        class="h-48 w-48 object-cover bg-slate-100"
                        />
                    </label>
                  </div>
                </ng-template>
              </div>
              <div class="lg:block hidden">
                <p>Remember</p>
                <span>
                  <li>Fields marked with (*) are required</li>
                  <li>Respect the dimensions marks for uploading images, for an optimal visualization</li>
                  <li>Only uploading images with .jpg format is supported</li>
                </span>
              </div>
            </article>
          </section>
          <section>
            <hr class="dialog-sub-title-line" />
            <label class="dialog-sub-title">Section Image : </label>
          </section>
          <section class="grid grid-cols-5 gap-x-6">
            <article class="col-span-1 lg:col-span-2 grid grid-rows-2 gap-y-4">
              <div class="col-span-1">
                <div class="flex w-full items-center justify-center space-x-4">
                  @if (imageCompanyIconURL === imageNoUpload) {
                    <div>
                      <label
                        for="imageCompanyIcon"
                        class="flex h-24 w-24 label-image"
                        >
                        <div class="flex flex-col items-center justify-center">
                          <svg
                            class="h-8 w-8 text-gray-500 dark:text-gray-400"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 20 16"
                            >
                            <path
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                              />
                          </svg>
                          <span class="text-xs text-gray-500 dark:text-gray-400">Only JPG</span>
                          <span class="text-xs text-gray-500 dark:text-gray-400">(200x200px)</span>
                        </div>
                        <input
                          id="imageCompanyIcon"
                          type="file"
                          class="hidden"
                          (change)="selectedImage($event,'icon')"
                          />
                      </label>
                    </div>
                  } @else {
                    <div class="w-24 h-24 relative">
                      <app-button-operac
                        optionBtn="close"
                        colorBtn="red"
                        class="absolute top-0 right-0"
                        (click)="resetImage('icon')"
                      ></app-button-operac>
                      <label
                        for="imageCompanyIcon"
                        class="flex h-24 w-24 label-image"
                        >
                        <img
                          [src]="imageCompanyIconURL"
                          alt=""
                          class="h-24 w-24 m-auto object-cover bg-slate-100"
                          />
                      </label>
                    </div>
                  }
                  <ng-template #imageCompanyIcon>
                    <div class="w-24 h-24 relative">
                      <app-button-operac
                        optionBtn="close"
                        colorBtn="red"
                        class="absolute top-0 right-0"
                        (click)="resetImage('icon')"
                      ></app-button-operac>
                      <label
                        for="imageCompanyIcon"
                        class="flex h-24 w-24 label-image"
                        >
                        <img
                          [src]="imageCompanyIconURL"
                          alt=""
                          class="h-24 w-24 m-auto object-cover bg-slate-100"
                          />
                      </label>
                    </div>
                  </ng-template>
                  <div class="w-0 h-0 invisible overflow-hidden lg:visible lg:w-auto lg:h-24">
                    <p>Requirement</p>
                    <li>Image used for the page icon</li>
                  </div>
                </div>
              </div>
              <div class="col-span-1">
                <div class="flex w-full items-center justify-center space-x-4">
                  @if (imageCompanyLogoURL === imageNoUpload) {
                    <div>
                      <label
                        for="imageCompanyLogo"
                        class="flex h-24 w-24 label-image"
                        >
                        <div class="flex flex-col items-center justify-center">
                          <svg
                            class="h-8 w-8 text-gray-500 dark:text-gray-400"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 20 16"
                            >
                            <path
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                              />
                          </svg>
                          <span class="text-xs text-gray-500 dark:text-gray-400">Only JPG</span>
                          <span class="text-xs text-gray-500 dark:text-gray-400">(200x200px)</span>
                        </div>
                        <input
                          id="imageCompanyLogo"
                          type="file"
                          class="hidden"
                          (change)="selectedImage($event,'logo')"
                          />
                      </label>
                    </div>
                  } @else {
                    <div class="w-24 h-24 relative">
                      <app-button-operac
                        optionBtn="close"
                        colorBtn="red"
                        class="absolute top-0 right-0"
                        (click)="resetImage('logo')"
                      ></app-button-operac>
                      <label
                        for="imageCompanyLogo"
                        class="flex h-24 w-24 label-image"
                        >
                        <img
                          [src]="imageCompanyLogoURL"
                          alt=""
                          class="m-auto object-cover w-24 h-24 bg-slate-100"
                          />
                      </label>
                    </div>
                  }
                  <ng-template #imageCompanyLogo>
                    <div class="w-24 h-24 relative">
                      <app-button-operac
                        optionBtn="close"
                        colorBtn="red"
                        class="absolute top-0 right-0"
                        (click)="resetImage('logo')"
                      ></app-button-operac>
                      <label
                        for="imageCompanyLogo"
                        class="flex h-24 w-24 label-image"
                        >
                        <img
                          [src]="imageCompanyLogoURL"
                          alt=""
                          class="m-auto object-cover w-24 h-24 bg-slate-100"
                          />
                      </label>
                    </div>
                  </ng-template>
                  <div class="w-0 h-0 invisible overflow-hidden lg:visible lg:w-auto lg:h-24">
                    <p>Requirement</p>
                    <li>Image used for the page logo</li>
                  </div>
                </div>
              </div>
            </article>
            <article class="col-span-4 lg:col-span-3 h-full w-full space-y-4">
              <div class="flex-col w-full items-center justify-center space-y-4">
                @if (imageCompanyGlossURL === imageNoUpload) {
                  <div>
                    <label
                      for="imageCompanyGloss"
                      class="flex h-24 w-96 label-image mx-auto"
                      >
                      <div class="flex flex-col items-center justify-center">
                        <svg
                          class="h-8 w-8 text-gray-500 dark:text-gray-400"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 20 16"
                          >
                          <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                            />
                        </svg>
                        <label class="text-sm text-gray-500 dark:text-gray-400">
                          <span class="font-semibold">Click to upload</span> or drag and
                          drop
                        </label>
                        <span class="text-xs text-gray-500 dark:text-gray-400">
                          Only JPG (MAX. 960x240px)
                        </span>
                      </div>
                      <input
                        id="imageCompanyGloss"
                        type="file"
                        class="hidden"
                        (change)="selectedImage($event,'gloss')"
                        />
                    </label>
                  </div>
                } @else {
                  <div class="w-96 h-24 relative mx-auto">
                    <app-button-operac
                      optionBtn="close"
                      colorBtn="red"
                      class="absolute top-0 right-0"
                      (click)="resetImage('gloss')"
                    ></app-button-operac>
                    <label
                      for="imageCompanyGloss"
                      class="flex w-96 h-24 label-image"
                      >
                      <img
                        [src]="imageCompanyGlossURL"
                        alt=""
                        class="object-cover w-96 h-24 bg-slate-100"
                        />
                    </label>
                  </div>
                }
                <ng-template #imageCompanyGloss>
                  <div class="w-96 h-24 relative mx-auto">
                    <app-button-operac
                      optionBtn="close"
                      colorBtn="red"
                      class="absolute top-0 right-0"
                      (click)="resetImage('gloss')"
                    ></app-button-operac>
                    <label
                      for="imageCompanyGloss"
                      class="flex w-96 h-24 label-image"
                      >
                      <img
                        [src]="imageCompanyGlossURL"
                        alt=""
                        class="object-cover w-96 h-24 bg-slate-100"
                        />
                    </label>
                  </div>
                </ng-template>
                <div class="h-24 w-full">
                  <p>Requirement</p>
                  <li>Image used as a header, in printing documents (Invoice, Ticket, ...) </li>
                  <li>It is recommended to respect the measurement of 960px by 240px definition</li>
                </div>
              </div>
            </article>
          </section>
          <section>
            <hr class="dialog-sub-title-line" />
            <label class="dialog-sub-title">Audit Information : </label>
          </section>
          <section class="grid grid-cols-2 gap-x-4">
            <div class="space-y-2">
              <div class="flex">
                <label for="createby" class="label-input-sm"
                  >Create by : </label
                  >
                  <input
                    id="createby"
                    type="text"
                    class="input-default"
                    formControlName="createby"
                    />
                </div>
                <div class="flex">
                  <label for="createat" class="label-input-sm"
                    >Create at : </label
                    >
                    <input
                      id="createat"
                      type="text"
                      class="input-default"
                      disabled
                      [value]="formatDate(createat?.value)"
                      />
                  </div>
                </div>
                <div class="space-y-2">
                  <div class="flex">
                    <label for="updateby" class="label-input-sm"
                      >Update by : </label
                      >
                      <input
                        id="updateby"
                        type="text"
                        class="input-default"
                        formControlName="updateby"
                        />
                    </div>
                    <div class="flex">
                      <label for="updateat" class="label-input-sm"
                        >Update at : </label
                        >
                        <input
                          id="updateat"
                          type="text"
                          class="input-default"
                          disabled
                          [value]="formatDate(updateat?.value)"
                          />
                      </div>
                    </div>
                  </section>
                </form>
