<header class="h-[120px] w-full sapce-y-6 dark:bg-slate-800 dark:text-slate-400">
  <section class="h-[70px] w-full">
    <nav class="border-gray-200 bg-white dark:bg-gray-900 px-4">
      <div
        class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4"
      >
        <a href="#" class="flex items-center">
          <img
            src="../../../../../../assets/images/icon/logo.png"
            class="mr-3 h-8 w-8 rounded-full"
            alt="SmartShell ( Billing ) Logo"
          />
          <span
            class="self-center whitespace-nowrap text-2xl font-semibold dark:text-white"
            >SmartShell</span
          >
        </a>
        <div class="flex md:order-2">
          <button
            type="button"
            class="mr-3 rounded-lg bg-blue-700 px-4 py-2 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 md:mr-0"
          >
            Go Docs
          </button>
          <button
            data-collapse-toggle="navbar-cta"
            type="button"
            class="inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600 md:hidden"
            aria-controls="navbar-cta"
            aria-expanded="false"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              class="h-5 w-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 17 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 1h15M1 7h15M1 13h15"
                 />
            </svg>
          </button>
        </div>
        <div
          class="hidden w-full items-center justify-between md:order-1 md:flex md:w-auto"
          id="navbar-cta"
        >
          <ul
            class="mt-4 flex flex-col rounded-lg border border-gray-100 bg-gray-50 p-4 font-medium dark:border-gray-700 dark:bg-gray-800 md:mt-0 md:flex-row md:space-x-8 md:border-0 md:bg-white md:p-0 md:dark:bg-gray-900"
          >
            <li>
              <a
                href="#"
                class="block rounded bg-blue-700 py-2 pl-3 pr-4 text-white md:bg-transparent md:p-0 md:text-blue-700 md:dark:text-blue-500"
                aria-current="page"
                >Home</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block rounded py-2 pl-3 pr-4 text-gray-900 hover:bg-gray-100 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:p-0 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:bg-transparent md:dark:hover:text-blue-500"
                >About</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block rounded py-2 pl-3 pr-4 text-gray-900 hover:bg-gray-100 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:p-0 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:bg-transparent md:dark:hover:text-blue-500"
                >Services</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block rounded py-2 pl-3 pr-4 text-gray-900 hover:bg-gray-100 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:p-0 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:bg-transparent md:dark:hover:text-blue-500"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
  <section class="h-[50px] w-full px-4 grid grid-cols-2 dark:bg-slate-800 dark:text-slate-400 items-center">
    <div [ngSwitch]="isStatusInvoice" class="col-span-1 flex items-start">
      <div *ngSwitchCase="'search'" class="header-container">
        <app-button-standard
          colorBtn="sky"
          optionBtn="register"
          (click)="onRegisterInvoice()"
        >
          Registrar
        </app-button-standard>
      </div>
      <div *ngSwitchCase="'register'" class="header-container">
        <app-button-standard
          colorBtn="sky"
          optionBtn="search"
          (click)="onSearchInvoice()"
        >
          Buscar</app-button-standard
        >
      </div>
      <app-default-values></app-default-values>
    </div>
    <div class="col-span-1 items-end grid grid-cols-2 gap-x-4 dark:bg-slate-800 dark:text-slate-400">
      <div class="grid grid-cols-3 items-center">
        <label for="codbranch" class="label-default">Branch</label>
        <select
          name="codbranch"
          id="codbranch"
          class="select-default col-span-2"
          placeholder="Branch*"
          (change)="onBranchChange($event.target)"
          disabled
        >
          <option value="1">Principal</option>
          <option value="2">Secondary</option>
        </select>
      </div>
      <div class="grid grid-cols-3 items-center">
        <label for="codplaiss" class="label-default whitespace-nowrap">Place of Issue</label>
        <select
          name="codplaiss"
          id="codplaiss"
          class="select-default col-span-2"
          placeholder="Place of Issue*"
          (change)="onPlaceOfIssueChange($event.target)"
        >
          <option value="1">Eccomerce</option>
          <option value="2">Physical Store</option>
        </select>
      </div>
    </div>
  </section>
</header>
