<header class="h-[50px] w-full sapce-y-6 dark:bg-slate-800 dark:text-slate-400">
  <app-header></app-header>
  <section class="h-[50px] w-full px-4 grid grid-cols-3 dark:bg-slate-800 bg-gray-300 items-center">
    <div class="col-span-1 flex items-start gap-x-4">
      @switch (isStatusInvoiceReceipt()) {
        @case ('search') {
          <div>
            <app-button-standard
              colorBtn="sky"
              optionBtn="register"
              (click)="onRegisterInvoice()"
              >
              {{ 'REGISTER' | translate }}
            </app-button-standard>
          </div>
        }
        @case ('register') {
          <div>
            <app-button-standard
              colorBtn="sky"
              optionBtn="search"
              (click)="onSearchInvoice()"
              >
              {{ 'SEARCH' | translate }}</app-button-standard
              >
            </div>
          }
        }
      </div>
      <div class="col-span-2 items-end grid grid-cols-2 gap-x-4 dark:bg-slate-800 dark:text-slate-400">
        <div class="grid grid-cols-3 items-center">
          <label for="codbranch" class="label-default label-required">{{ 'BRANCH' | translate }}</label>
          <select
            name="codbranch"
            id="codbranch"
            class="select-default col-span-2"
            (change)="onBranchChange($event.target)"
            disabled
            >
            <option value="1">Principal</option>
            <option value="2">Secondary</option>
          </select>
        </div>
        <div class="grid grid-cols-3 items-center">
          <label for="codplaiss" class="label-default label-required whitespace-nowrap">{{ 'PLACE_OF_ISSUE' | translate }}</label>
          <select
            name="codplaiss"
            id="codplaiss"
            class="select-default col-span-2"
            (change)="onPlaceOfIssueChange($event.target)"
            >
            <option value="1">Ecommerce</option>
            <option value="2">Physical Store</option>
          </select>
        </div>
      </div>
    </section>
  </header>
