<main class="h-full w-full flex justify-center overflow-hidden">
  <menu class="left-container">
    <app-siderbar-left></app-siderbar-left>
  </menu>
  <div class="main-container">
    <app-header class="h-[50px]"></app-header>
    <div class="body-container flex justify-around h-screen">
      <section class="w-1/2">
          <app-card-presentation></app-card-presentation>
      </section>
      <section class="w-1/2">
          <app-card-experience></app-card-experience>
      </section>
    </div>
    <app-footer class="h-[60px]"></app-footer>
  </div>
  <menu class="right-container">
    <app-siderbar-right></app-siderbar-right>
  </menu>
</main>
