<main class="configuration-container py-8 z-0 relative">
  <section>
    <form
      action="#"
      [formGroup]="formSearchSerieCommercialDocument"
      class="flex justify-start space-x-4"
      >
      <label for="typcomdoc" class="label-input-sm label-required"
        >{{ 'TYPE_DOCUMENT' | translate }}</label
        >
        <select
          name="typcomdoc"
          id="typcomdoc"
          class="select-default col-span-2"
          formControlName="typcomdoc"
          [class.select-invalid]="isInputInvalid('typcomdoc')"
          placeholder="typcomdoc*"
          (change)="selectionChangeSerieCommercialDocument()"
          >
          <option
            value=""
            class="option-default"
            disabled
            selected
            hidden
            [class.option-invalid]="isInputInvalid('typcomdoc')"
            >
            -- {{ 'CHOOSE' | translate }} --
          </option>
          @for (item of listCommercialDocument; track item) {
            <option
              [value]="item.typcomdoc"
              class="option-default"
              >
              {{ item.typcomdoc + " - " + item.descri }}
            </option>
          }
        </select>
      </form>
    </section>
    <section class="container-dialog-table">
      <table
        class="main-dialog-table"
        cdk-table
        [dataSource]="dataSourceSerieCommercialDocument"
        >
        <tr
          class="header-table"
          cdk-header-row
          *cdkHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
          class="row-table"
          cdk-row
          *cdkRowDef="let row; columns: displayedColumns"
          [class.row-table-delete]="row.status === 'N'"
        ></tr>
        <ng-container cdkColumnDef="serie">
          <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>Serie</th>
          <td class="row-cell" cdk-cell *cdkCellDef="let row">
            {{ row.serie }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="descri">
          <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
            {{ 'DESCRIPTION' | translate }}
          </th>
          <td class="row-cell" cdk-cell *cdkCellDef="let row">
            {{ row.descri }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="codext">
          <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
            {{ 'ALTERNATIVE_CODE' | translate }}
          </th>
          <td class="row-cell" cdk-cell *cdkCellDef="let row">
            {{ row.codext }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="operac">
          <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>{{ 'ACTION' | translate }}?</th>
          <td class="row-operac-cell" cdk-cell *cdkCellDef="let row">
            @if (row.status === 'Y') {
              <app-button-operac
                (click)="crudSerieCommercialDocument(row)"
                optionBtn="edit"
                colorBtn="sky"
                >
              </app-button-operac>
            }
            @if (row.status === 'Y') {
              <app-button-operac
                (click)="deleteSerieCommercialDocument(row)"
                optionBtn="delete"
                colorBtn="red"
              ></app-button-operac>
            }
          </td>
        </ng-container>
      </table>
    </section>
  </main>
