<form
  [formGroup]="formCrudSerieCommercialDocument"
  class="flex h-full w-full flex-col space-y-6 px-4 py-6"
>
  <section class="grid grid-cols-2 gap-x-4">
    <article class="col-span-1 space-y-2">
      <div class="flex">
        <label for="typcomdoc" class="label-input-sm label-required">{{
          "TYPE_DOCUMENT" | translate
        }}</label>
        <select
          name="typcomdoc"
          id="typcomdoc"
          class="select-default col-span-2"
          formControlName="typcomdoc"
          [class.select-invalid]="isInputInvalid('typcomdoc')"
        >
          <option
            value="0"
            class="option-default"
            disabled
            selected
            hidden
            [class.option-invalid]="isInputInvalid('typcomdoc')"
          >
            -- {{ "CHOOSE" | translate }} --
          </option>
          @for (item of listCommercialDocument; track item) {
          <option [value]="item.typcomdoc" class="option-default">
            {{ item.typcomdoc + " - " + item.descri }}
          </option>
          }
        </select>
      </div>
      <div class="flex">
        <label for="serie" class="label-input-sm label-required">{{
          "SERIE" | translate
        }}</label>
        <input
          id="serie"
          type="text"
          class="input-default"
          formControlName="serie"
          [class.input-invalid]="isInputInvalid('serie')"
          placeholder="{{ 'SERIE' | translate }}"
        />
      </div>
      <div class="flex">
        <label for="codbranch" class="label-input-sm label-required">{{
          "BRANCH" | translate
        }}</label>
        <select
          name="codbranch"
          id="codbranch"
          class="select-default col-span-2"
          formControlName="codbranch"
          [class.select-invalid]="isInputInvalid('codbranch')"
        >
          <option
            value="0"
            class="option-default"
            disabled
            selected
            hidden
            [class.option-invalid]="isInputInvalid('codbranch')"
          >
            -- {{ "CHOOSE" | translate }} --
          </option>
          @for (item of listBranches; track item) {
          <option [value]="item.codbranch" class="option-default">
            {{ item.codbranch + " - " + item.descri }}
          </option>
          }
        </select>
      </div>
    </article>
    <article class="col-span-1 space-y-2">
      <div class="flex">
        <label for="abrevi" class="label-input-sm label-required">{{
          "ABBREVIATION" | translate
        }}</label>
        <input
          id="abrevi"
          type="text"
          class="input-default"
          formControlName="abrevi"
          [class.input-invalid]="isInputInvalid('abrevi')"
          placeholder="{{ 'ABBREVIATION' | translate }}"
        />
      </div>
      <div class="flex">
        <label for="descri" class="label-input-sm label-required">{{
          "DESCRIPTION" | translate
        }}</label>
        <input
          id="descri"
          type="text"
          class="input-default"
          formControlName="descri"
          [class.input-invalid]="isInputInvalid('descri')"
          placeholder="{{ 'DESCRIPTION' | translate }}"
        />
      </div>
      <div class="flex">
        <label for="codext" class="label-input-sm label-required">{{
          "EXTERMAL_CODE" | translate
        }}</label>
        <input
          id="codext"
          type="text"
          class="input-default"
          formControlName="codext"
          [class.input-invalid]="isInputInvalid('codext')"
          placeholder="{{ 'EXTERMAL_CODE' | translate }}"
        />
      </div>
    </article>
  </section>
  <section class="grid grid-cols-2 gap-x-4">
    <div class="space-y-2">
      <div class="flex">
        <label for="typcorrel" class="label-input-sm label-required">{{
          "TYPE_CORRELATIVE" | translate
        }}</label>
        <select
          name="typcorrel"
          id="typcorrel"
          class="select-default"
          [class.select-invalid]="isInputInvalid('typcorrel')"
        >
          <option
            value="0"
            class="option-default"
            disabled
            selected
            hidden
            [class.option-invalid]="isInputInvalid('typcorrel')"
          >
            -- {{ "CHOOSE" | translate }} --
          </option>
          <option value="A" class="option-default">
            {{ "AUTOMATIC" | translate }}
          </option>
          <option value="M" class="option-default">
            {{ "MANUAL" | translate }}
          </option>
        </select>
      </div>
    </div>
    <div class="space-y-2">
      <div class="flex">
        <label for="nrocorrel" class="label-input-sm label-required">{{
          "NRO CORRELATIVE" | translate
        }}</label>
        <input
          id="nrocorrel"
          type="number"
          class="input-default"
          formControlName="nrocorrel"
          [class.input-invalid]="isInputInvalid('nrocorrel')"
          placeholder="{{ 'NRO CORRELATIVE' | translate }}"
        />
      </div>
    </div>
  </section>
  <section class="grid grid-cols-3 gap-x-6">
    <div class="col-span-1 flex justify-between">
      <label for="docelectr" class="label-input-sm label-required">{{
        "ELECTRONIC_DOCUMENT?" | translate
      }}</label>
      <input
        id="docelectr"
        type="checkbox"
        class="checkbox-default"
        formControlName="docelectr"
      />
    </div>
    <div class="col-span-1 flex justify-between">
      <label for="defaul" class="label-input-sm label-required">{{
        "DEFAULT?" | translate
      }}</label>
      <input
        id="defaul"
        type="checkbox"
        class="checkbox-default"
        formControlName="defaul"
      />
    </div>
    <div class="col-span-1 flex justify-between">
      <label for="status" class="label-input-sm label-required">{{
        "ACTIVE?" | translate
      }}</label>
      <input
        id="status"
        type="checkbox"
        class="checkbox-default"
        formControlName="status"
      />
    </div>
  </section>
  <section>
    <hr class="dialog-sub-title-line" />
    <label class="dialog-sub-title">{{
      "ADDITIONAL_INFORMATION" | translate
    }}</label>
  </section>
  <section class="space-y-2">
    <div class="flex">
      <label for="observ" class="label-input-xl">{{
        "OBSERVATION" | translate
      }}</label>
      <textarea
        name=""
        id="observ"
        cols="30"
        rows="10"
        class="textarea-default"
        formControlName="observ"
      ></textarea>
    </div>
    <div class="flex">
      <label for="commen" class="label-input-xl">{{
        "COMMENT" | translate
      }}</label>
      <textarea
        name=""
        id="commen"
        cols="30"
        rows="10"
        class="textarea-default"
        formControlName="commen"
      ></textarea>
    </div>
  </section>
  <section>
    <hr class="dialog-sub-title-line" />
    <label class="dialog-sub-title"
      >{{ "AUDIT_INFORMATION" | translate }}
    </label>
  </section>
  <section class="grid grid-cols-2 gap-x-4">
    <div class="space-y-2">
      <div class="flex">
        <label for="createby" class="label-input-sm"
          >{{ "CREATE BY" | translate }} :
        </label>
        <input
          id="createby"
          type="text"
          class="input-default"
          formControlName="createby"
        />
      </div>
      <div class="flex">
        <label for="createat" class="label-input-sm"
          >{{ "TIME" | translate }} :
        </label>
        <input
          id="createat"
          type="text"
          class="input-default"
          disabled
          [value]="formatDate(createat?.value)"
        />
      </div>
    </div>
    <div class="space-y-2">
      <div class="flex">
        <label for="updateby" class="label-input-sm"
          >{{ "UPDATE BY" | translate }} :
        </label>
        <input
          id="updateby"
          type="text"
          class="input-default"
          formControlName="updateby"
        />
      </div>
      <div class="flex">
        <label for="updateat" class="label-input-sm"
          >{{ "TIME" | translate }} :
        </label>
        <input
          id="updateat"
          type="text"
          class="input-default"
          disabled
          [value]="formatDate(updateat?.value)"
        />
      </div>
    </div>
  </section>
</form>
