.full-width-table {
  width: 100%;
}

table {
  width: 100%;
}

.mat-column-typinv{
  word-break: break-word;
  width: 10% !important;
}


.mat-column-codart{
  word-break: break-word;
  width: 10% !important;
}
