<main class="dialog-container">
  <section>
    <h1 class="dialog-title">Interlocutor Comercial</h1>
    <form [formGroup]="formSearchCliente">
      <div class="space-y-2 divide-line">
        <div class="grid grid-cols-5 gap-x-8">
          <div class="col-span-3 flex">
            <div class="w-48">
              <label for="typbuspar" class="label-input-sm"
                >Tipo de Interlocutor</label
              >
            </div>
            <select
              name="typbuspar"
              id="typbuspar"
              formControlName="typbuspar"
              class="select-default"
            >
              <option value="1" class="option-default">1 - CLIENTE</option>
              <option value="2" class="option-default">2 - PROVEEDOR</option>
            </select>
          </div>
          <div class="col-span-2 flex items-center justify-center space-x-4">
            <label for="status" class="label-input-xs">Inc Inactivos?</label>
            <input
              id="status"
              type="checkbox"
              class="checkbox-default"
              formControlName="status"
            />
          </div>
        </div>
        <div class="space-y-2 pt-2">
          <div class="flex justify-start">
            <label for="codbuspar" class="label-input-sm">Codigo</label>
            <input
              id="codbuspar"
              type="text"
              class="input-default"
              formControlName="codbuspar"
            />
          </div>
          <div class="flex justify-start">
            <label for="busnam" class="label-input-sm">Razon Social</label>
            <input
              id="busnam"
              type="text"
              class="input-default"
              formControlName="busnam"
            />
          </div>
          <app-alert-standard
            [class.invisible]="
              !(
                codbuspar?.touched &&
                busnam?.touched &&
                formSearchCliente.hasError('NotNullValidatorTwo')
              )
            "
            >Debe usar al menos uno de estos filtros para la busqueda, considere
            una longitud minima de 5 caracteres</app-alert-standard
          >
        </div>
      </div>
    </form>
  </section>
  <section>
    <div class="flex justify-end space-x-4">
      <app-button-standard
        (click)="searchInterlocutorComercial()"
        colorBtn="sky"
        optionBtn="search"
        typeBtn="button"
        >Buscar</app-button-standard
      >
      <app-button-standard
        (click)="crudInterlocutorComercial(null)"
        colorBtn="green"
        optionBtn="new"
        typeBtn="button"
        >Nuevo</app-button-standard
      >
    </div>
  </section>
  <section class="selection-table">
    <div class="container-dialog-table">
      <table class="main-dialog-table" cdk-table [dataSource]="dataSource">
        <tr
          class="header-table"
          cdk-header-row
          *cdkHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
          class="row-table"
          cdk-row
          *cdkRowDef="let row; columns: displayedColumns"
          [class.row-table-delete]="row.status === 'N'"
        ></tr>
        <ng-container cdkColumnDef="codbuspar">
          <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>Codigo</th>
          <td class="row-cell" cdk-cell *cdkCellDef="let row">
            {{ row.codbuspar }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="busnam">
          <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
            Razon Social
          </th>
          <td class="row-cell" cdk-cell *cdkCellDef="let row">
            {{ row.busnam }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="nroidedoc">
          <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>RUC/DNI</th>
          <td class="row-cell" cdk-cell *cdkCellDef="let row">
            {{ row.nroidedoc }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="operac">
          <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
            Accion
          </th>
          <td class="row-operac-cell" cdk-cell *cdkCellDef="let row">
            <app-button-operac
              *ngIf="row.status === 'S'"
              (click)="crudInterlocutorComercial(row)"
              optionBtn="edit"
              colorBtn="sky"
            >
            </app-button-operac>
            <app-button-operac
              *ngIf="row.status === 'S'"
              (click)="cleanInterlocutorComercial(row)"
              optionBtn="clean"
              colorBtn="sky"
            >
            </app-button-operac>
            <app-button-operac
              *ngIf="row.status === 'S'"
              (click)="deleteInterlocutorComercial(row)"
              optionBtn="delete"
              colorBtn="red"
            ></app-button-operac>
            <app-button-operac
              *ngIf="row.status === 'N'"
              (click)="undeleteInterlocutorComercial(row)"
              optionBtn="undelete"
              colorBtn="yellow"
            ></app-button-operac>
          </td>
        </ng-container>
      </table>
    </div>
    <mat-paginator
      (page)="byPageEvent($event)"
      [hidePageSize]="true"
      [length]="totalElements"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
  </section>
  <section class="flex justify-end">
    <app-button-standard
      (click)="closeDialog(null)"
      colorBtn="red"
      optionBtn="close"
      typeBtn="button"
    >
      Close
    </app-button-standard>
  </section>
</main>
