<div style="position: relative; padding-top: 56.25%">
  <div style="position: relative; padding-top: 56.25%">
    <iframe
      src="https://iframe.mediadelivery.net/embed/205713/ac3187c3-3cbe-4255-85bb-c40f18f11fe4?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
      loading="lazy"
      style="border: 0; position: absolute; top: 0; height: 100%; width: 100%"
      allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
      allowfullscreen="true"
    ></iframe>
  </div>
</div>
