<main
  class="dialog-container relative"
  (keydown.arrowup)="onArrowUp()"
  (keydown.arrowdown)="onArrowDown()"
>
  <section class="dialog-title">
    <h1>{{ "SEARCH_BUSINESS_PARTNER" | translate }}</h1>
  </section>
  <section class="relative flex w-full items-center justify-around">
    <input
      type="search"
      class="h-10 w-full rounded-sm border-2 border-slate-800 py-1 pl-8 pr-2 text-slate-700 hover:border-sky-700 focus:border-sky-700 focus:outline-none focus:ring-1 focus:ring-sky-700 dark:bg-gray-700 dark:text-gray-400"
      placeholder="{{ 'WRITE_CODE_OR_BUSINESS_NAME' | translate }}"
      [formControl]="input"
    />
    <fa-icon
      [icon]="faMagnifyingGlass"
      size="xl"
      class="absolute left-2 text-gray-600 dark:text-gray-400"
    ></fa-icon>
  </section>
  <section #mainTable class="section-table">
    <article class="container-dialog-table-350">
      <table
        class="main-dialog-table"
        cdk-table
        [dataSource]="dataSource"
        tabindex="0"
        role="grid"
      >
        <tr
          class="header-table"
          cdk-header-row
          *cdkHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
          class="row-table"
          cdk-row
          *cdkRowDef="let row; columns: displayedColumns; let i = index"
          [class.selected-row]="selectedRowIndex === i"
          (click)="closeDialog(row)"
          (mouseover)="onMouseOver(i)"
          (mouseout)="onMouseOut()"
          (keydown.enter)="closeDialog(row)"
          [id]="'row_' + i"
        ></tr>
        <ng-container cdkColumnDef="codbuspar">
          <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
            {{ "CODE" | translate }}
          </th>
          <td class="row-cell" cdk-cell *cdkCellDef="let row">
            {{ row.codbuspar }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="busnam">
          <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
            {{ "BUSINESS_NAME" | translate }}
          </th>
          <td class="row-cell" cdk-cell *cdkCellDef="let row">
            {{ row.busnam }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="nroidedoc">
          <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
            {{ "N_DOCUMENT" | translate }}
          </th>
          <td class="row-cell" cdk-cell *cdkCellDef="let row">
            {{ row.nroidedoc }}
          </td>
        </ng-container>
      </table>
    </article>
    <mat-paginator
      (page)="byPageEvent($event)"
      [hidePageSize]="true"
      [length]="totalElements"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
  </section>
  <section class="flex justify-end">
    <app-button-standard
      (click)="closeDialog(null)"
      optionBtn="close"
      [colorBtn]="'red'"
      [typeBtn]="'button'"
    >
      {{ "CLOSE" | translate }}
    </app-button-standard>
  </section>

  <app-button-operac
    optionBtn="close"
    colorBtn="red"
    class="absolute right-6 top-0 z-10"
    (click)="closeDialog(null)"
  ></app-button-operac>
</main>
