<section class="section-table">
  <article class="container-dialog-table">
    <table
      class="main-dialog-table"
      cdk-table
      [dataSource]="dataSourceSearchDocument"
      >
      <tr
        class="header-table"
        cdk-header-row
        *cdkHeaderRowDef="displayedColumns; sticky: true"
      ></tr>
      <tr
        class="row-table"
        cdk-row
        *cdkRowDef="let row; columns: displayedColumns"
      ></tr>
      <ng-container cdkColumnDef="action">
        <th
          class="header-cell max-w-[15px]"
          cdk-header-cell
          *cdkHeaderCellDef
        ></th>
        <td class="row-operac-cell max-w-[15px]" cdk-cell *cdkCellDef="let row">
          <button
            class="relative h-7 w-7"
            (click)="onOpenOverlay(row.numint)"
            type="button"
            cdkOverlayOrigin
            #trigger="cdkOverlayOrigin"
            >
            <fa-icon [icon]="faRectangleList" class="icon-operac"></fa-icon>
          </button>
          <ng-template
            cdkConnectedOverlay
            [cdkConnectedOverlayOffsetX]="12"
            [cdkConnectedOverlayOrigin]="trigger"
            [cdkConnectedOverlayOpen]="row.isOpen"
            [cdkConnectedOverlayHasBackdrop]="true"
            >
            <div
              id="dropdown"
              class="z-10 w-44 divide-y divide-gray-100 rounded-lg bg-white shadow dark:bg-gray-700"
              >
              <ul
                class="py-2 text-sm text-gray-700 dark:text-gray-200"
                aria-labelledby="dropdownDefaultButton"
                >
                @if (row.sitcomdoc == 1) {
                  <li>
                    <button class="sidebar-section-text" (click)="onEdit(row.numint)">
                      <div class="relative h-7 w-7">
                        <fa-icon
                          [icon]="faFilePen"
                          class="icon-overlay"
                        ></fa-icon>
                      </div>
                      Modify
                    </button>
                  </li>
                }
                @if (row.sitcomdoc == 1) {
                  <li>
                    <button
                      class="sidebar-section-text"
                      (click)="onApproved(row.numint)"
                      >
                      <div class="relative h-7 w-7">
                        <fa-icon
                          [icon]="faFilePen"
                          class="icon-overlay"
                        ></fa-icon>
                      </div>
                      Aproved
                    </button>
                  </li>
                }
                @if (row.sitcomdoc == 2) {
                  <li>
                    <button
                      class="sidebar-section-text"
                      (click)="onInAccount(row.numint)"
                      >
                      <div class="relative h-7 w-7">
                        <fa-icon
                          [icon]="faFilePen"
                          class="icon-overlay"
                        ></fa-icon>
                      </div>
                      On Account
                    </button>
                  </li>
                }
                <li>
                  <button
                    class="sidebar-section-text"
                    (click)="onPrint(row.numint)"
                    >
                    <div class="relative h-7 w-7">
                      <fa-icon [icon]="faPrint" class="icon-overlay"></fa-icon>
                    </div>
                    Print
                  </button>
                </li>
                @if (row.sitcomdoc == 3) {
                  <li>
                    <button
                      class="sidebar-section-text"
                      (click)="onSendEmail(row.numint)"
                      >
                      <div class="relative h-7 w-7">
                        <fa-icon
                          [icon]="faEnvelope"
                          class="icon-overlay"
                        ></fa-icon>
                      </div>
                      Send by Email
                    </button>
                  </li>
                }
                @if (row.sitcomdoc == 3) {
                  <li>
                    <button
                      class="sidebar-section-text"
                      (click)="onSendSunat(row.numint)"
                      >
                      <div class="relative h-7 w-7">
                        <fa-icon
                          [icon]="faBuildingColumns"
                          class="icon-overlay"
                        ></fa-icon>
                      </div>
                      Send by Sunat</button
                      >
                    </li>
                  }
                  <li>
                    <button
                      class="sidebar-section-text"
                      (click)="onViewTransactions(row.numint)"
                      >
                      <div class="relative h-7 w-7">
                        <fa-icon [icon]="faList" class="icon-overlay"></fa-icon>
                      </div>
                      Transactions</button
                      >
                    </li>
                    @if (row.sitcomdoc != 4 && row.sitcomdoc != 5) {
                      <li>
                        <button
                          class="sidebar-section-text-danger/"
                          (click)="onCancel(row.numint, row)"
                          >
                          <div class="relative h-7 w-7">
                            <fa-icon [icon]="faBan" class="icon-overlay"></fa-icon>
                          </div>
                          Cancel</button
                          >
                        </li>
                      }
                      @if (row.sitcomdoc == 4) {
                        <li>
                          <button
                            class="sidebar-section-text-danger/"
                            (click)="onDelete(row.numint, row)"
                            >
                            <div class="relative h-7 w-7">
                              <fa-icon [icon]="faBan" class="icon-overlay"></fa-icon>
                            </div>
                            Delete</button
                            >
                          </li>
                        }
                        <li>
                          <button
                            class="sidebar-section-text"
                            (click)="row.isOpen = false"
                            >
                            <div class="relative h-7 w-7">
                              <fa-icon [icon]="faXmark" class="icon-overlay"></fa-icon>
                            </div>
                            Close
                          </button>
                        </li>
                      </ul>
                    </div>
                  </ng-template>
                </td>
              </ng-container>
              <ng-container cdkColumnDef="numint">
                <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>Number</th>
                <td class="row-cell" cdk-cell *cdkCellDef="let row">
                  {{ row.numint }}
                </td>
              </ng-container>
              <ng-container cdkColumnDef="document">
                <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>Document</th>
                <td class="row-cell" cdk-cell *cdkCellDef="let row">
                  {{ row.serie + " - " + row.numdoc }}
                </td>
              </ng-container>
              <ng-container cdkColumnDef="destypcomdoc">
                <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
                  Type Document
                </th>
                <td class="row-cell" cdk-cell *cdkCellDef="let row">
                  {{ row.destypcomdoc }}
                </td>
              </ng-container>
              <ng-container cdkColumnDef="dessitcomdoc">
                <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>Situation</th>
                <td class="row-cell" cdk-cell *cdkCellDef="let row" [ngClass]="{'row-cell-danger': row.sitcomdoc === 4 || row.sitcomdoc === 5}">
                  {{ row.dessitcomdoc }}
                </td>
              </ng-container>
              <ng-container cdkColumnDef="registdate">
                <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
                  Register Date
                </th>
                <td class="row-cell" cdk-cell *cdkCellDef="let row">
                  {{ formatDate(row.registdate) }}
                </td>
              </ng-container>
              <ng-container cdkColumnDef="desreacomdoc">
                <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>{{ 'REASON' | translate }}</th>
                <td class="row-cell" cdk-cell *cdkCellDef="let row">
                  {{ row.desreacomdoc }}
                </td>
              </ng-container>
              <ng-container cdkColumnDef="codbuspar">
                <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
                  Bussiner Partner
                </th>
                <td class="row-cell" cdk-cell *cdkCellDef="let row">
                  {{ row.codbuspar }}
                </td>
              </ng-container>
              <ng-container cdkColumnDef="busnam">
                <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
                  Descripcion
                </th>
                <td class="row-cell" cdk-cell *cdkCellDef="let row">
                  {{ row.busnam }}
                </td>
              </ng-container>
              <ng-container cdkColumnDef="desplaiss">
                <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
                  Place of Issue
                </th>
                <td class="row-cell" cdk-cell *cdkCellDef="let row">
                  {{ row.desplaiss }}
                </td>
              </ng-container>
              <ng-container cdkColumnDef="codcur">
                <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>{{ 'CURRENCY' | translate }}</th>
                <td class="row-cell" cdk-cell *cdkCellDef="let row">
                  {{ row.codcur }}
                </td>
              </ng-container>
              <ng-container cdkColumnDef="dessel">
                <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>Seller</th>
                <td class="row-cell" cdk-cell *cdkCellDef="let row">
                  {{ row.dessel }}
                </td>
              </ng-container>
              <ng-container cdkColumnDef="destyppaycon">
                <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
                  Payment Condition
                </th>
                <td class="row-cell" cdk-cell *cdkCellDef="let row">
                  {{ row.destyppaycon }}
                </td>
              </ng-container>
              <ng-container cdkColumnDef="impsaleprice">
                <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>
                  Sale Price
                </th>
                <td class="row-cell" cdk-cell *cdkCellDef="let row">
                  {{ row.impsaleprice | number : "1.2-2" }}
                </td>
              </ng-container>
              <ng-container cdkColumnDef="imptotal">
                <th class="header-cell" cdk-header-cell *cdkHeaderCellDef>Total</th>
                <td class="row-cell" cdk-cell *cdkCellDef="let row">
                  {{ row.imptotal | number : "1.2-2" }}
                </td>
              </ng-container>
            </table>
          </article>
          <article>
            <mat-paginator
              (page)="byPageEvent($event)"
              [hidePageSize]="true"
              [length]="totalElements"
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page"
              >
            </mat-paginator>
          </article>
        </section>
