<div class="sidebar-rigth" (mouseenter)="!openSidebar = true" (mouseleave)="!openSidebar = false">
  <section>
    <app-theme-switcher [openSidebar]="this.openSidebar"></app-theme-switcher>
  </section>
  <section>
    <button type="button" (click)="openDialogExchangeRate()"
      cdkOverlayOrigin #subMenuOverlay="cdkOverlayOrigin"
      class="menu-sidebar">
        <div class="menu-siderbar-icon">
          <fa-icon class="icon-operac" [icon]="faCommentsDollar" size="lg"></fa-icon>
        </div>
        <span class="menu-sidebar-text" [class.display-none]="!openSidebar">Exchange Rate</span>
    </button>
  </section>
  <section>
    <button type="button" (click)="openDialogBusinessPartner()"
      cdkOverlayOrigin #subMenuOverlay="cdkOverlayOrigin"
      class="menu-sidebar">
        <div class="menu-siderbar-icon">
          <fa-icon class="icon-operac" [icon]="faUsers" size="lg"></fa-icon>
        </div>
        <span class="menu-sidebar-text" [class.display-none]="!openSidebar">{{ 'BUSINESS_NAME' | translate }}</span>
    </button>
  </section>
  <section>
    <button type="button" (click)="openDialogArticle()"
      cdkOverlayOrigin #subMenuOverlay="cdkOverlayOrigin"
      class="menu-sidebar">
        <div class="menu-siderbar-icon">
          <fa-icon class="icon-operac" [icon]="faCartFlatbe" size="lg"></fa-icon>
        </div>
        <span class="menu-sidebar-text" [class.display-none]="!openSidebar">Inventory and Articles</span>
    </button>
  </section>
  <section>
    <button type="button" (click)="openDialogListPrice()"
      cdkOverlayOrigin #subMenuOverlay="cdkOverlayOrigin"
      class="menu-sidebar">
        <div class="menu-siderbar-icon">
          <fa-icon class="icon-operac" [icon]="faClipboardList" size="lg"></fa-icon>
        </div>
        <span class="menu-sidebar-text" [class.display-none]="!openSidebar">List of Price</span>
    </button>
  </section>
  <section>
    <button type="button" (click)="openDialogTransport()"
      cdkOverlayOrigin #subMenuOverlay="cdkOverlayOrigin"
      class="menu-sidebar">
        <div class="menu-siderbar-icon">
          <fa-icon class="icon-operac" [icon]="faTruckArrowRight" size="lg"></fa-icon>
        </div>
        <span class="menu-sidebar-text" [class.display-none]="!openSidebar">Transport</span>
    </button>
  </section>
  <section>
    <button type="button" (click)="openDialogSeller()"
      cdkOverlayOrigin #subMenuOverlay="cdkOverlayOrigin"
      class="menu-sidebar">
        <div class="menu-siderbar-icon">
          <fa-icon class="icon-operac" [icon]="faIdBadge" size="lg"></fa-icon>
        </div>
        <span class="menu-sidebar-text" [class.display-none]="!openSidebar">Seller</span>
    </button>
  </section>
  <section>
    <button type="button" (click)="openDialogPaymentCondition()"
      cdkOverlayOrigin #subMenuOverlay="cdkOverlayOrigin"
      class="menu-sidebar">
        <div class="menu-siderbar-icon">
          <fa-icon class="icon-operac" [icon]="faCreditCard" size="lg"></fa-icon>
        </div>
        <span class="menu-sidebar-text" [class.display-none]="!openSidebar">Payment Condition</span>
    </button>
  </section>
  <section>
    <button type="button" (click)="openDialogSesion()"
      cdkOverlayOrigin #subMenuOverlay="cdkOverlayOrigin"
      class="menu-sidebar">
        <div class="menu-siderbar-icon">
          <fa-icon class="icon-operac" [icon]="faSquareXmark" size="lg"></fa-icon>
        </div>
        <span class="menu-sidebar-text" [class.display-none]="!openSidebar">Sign off</span>
    </button>
  </section>
</div>
