<main class="flex h-full w-full justify-center overflow-hidden">
  <menu class="left-container">
    <app-siderbar-left></app-siderbar-left>
  </menu>
  <div [ngSwitch]="isStatusConfiguration" class="main-container">
    <app-header-configuration
      class="h-[100px]"
      (changeViewOnly)="changeViewOnly($event)"
      (changeSave)="changeSave($event)"
      [title]="this.title"
    ></app-header-configuration>
    <div class="body-container">
      <app-serie-commercial-document
        (changeView)="changeView($event)"
        *ngSwitchCase="'search'"
      ></app-serie-commercial-document>
      <app-crud-serie-commercial-document
        (changeView)="changeView($event)"
        *ngSwitchCase="'crud'"
        [inputTypcomdoc]="this.typcomdoc"
        [inputSerie]="this.serie"
        [inputSave]="this.save"
      ></app-crud-serie-commercial-document>
    </div>
    <app-footer class="h-[60px]"></app-footer>
  </div>
  <menu class="rigth-container">
    <app-siderbar-rigth></app-siderbar-rigth>
  </menu>
  <ngx-spinner
    bdColor="rgba(0,0,0,0.5)"
    size="large"
    color="#ffffff"
    type="ball-spin-clockwise"
    [fullScreen]="true"
  >
    <p style="color: white">Loading...</p>
  </ngx-spinner>
</main>
